@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPrelogIn.cshtml";
}
<script type="text/javascript">
    $(document).ready(function() {
        $.ajax({
            type: "GET",
            url: "/Wanted/GetNumberRegistered",
            success: function (response) {
                debugger;
                $('#totalNumberRegistered').text(response);
            },
            error: function (error) {
                debugger;
                $('#updateDiv').hide();
            }
        });
    })
</script>
<div class="wanted-wrapper clr">
<section class="full-width center landing-section">
    <img src="../img/landing.jpg" alt="" class="landing-bg">
    <div class="landing-section-content">
        <img src="../img/wanted-logo.png" alt="" class="logo-langing-page">
        <div class="large">Registration begins</div>
        <div class="extra-large light-gold-color bold">Dec 26th, 2015 to Jan 26th, 2016</div>
        <div id="updateDiv" class="medium"><span id="totalNumberRegistered"></span> participants registered</div>
        <a href="/Wanted/Register" class="large-button light-gold-bg caps">Register now</a>
    </div>
    <div class="landing-share">
        <a href="https://www.facebook.com/wantedcomic" class="socicon-facebook"></a>
        <a href="https://twitter.com/wantedcomic" class="socicon-twitter"></a>
        @*<a href="" class="socicon-googleplus"></a>*@
        <a href="https://instagram.com/wantedcomic/" class="socicon-instagram"></a>
        @*<a href="" class="socicon-tumblr"></a>
        <a href="" class="socicon-pinterest"></a>*@
    </div>
</section>

<div class="header-small">
    <div class="wanted-container">
        <div class="logo-small">
            <img src="../img/wanted-logo.png">
        </div>
    </div>
</div>

<section class="wanted-container section clr">
    <div class="one-third float-left">
        <div class="sidebar-image">
            <img src="../img/1.png">
            <h2 class="extra-large light-gold-color sidebar-title bold caps">Introduction</h2>
        </div>
    </div>
    <div class="two-third float-left">
        <p class="large dark-gold-color"><span class="bold">WANTED - Funniest African Comic</span> is a comedy competition designed to showcase the next best African comic.</p>

        <h3 class="medium light-gold-color caps bold">About the Competition</h3>
        <p class="small">Contestants submit a <span class="bold dark-gold-color">3 minutes video skit</span> along with the online application form. Based on the number of online votes, <span class="bold dark-gold-color">32 finalists</span> will be selected from 8 regions (North Africa, East Africa, West Africa, South Africa, Australia, Europe, North America, and South America). Contestants will have to drive the votes by directing their fans to cast their votes at <a href="http://www.ariyaunlimited.com" class="bold dark-gold-color">www.ariyaunlimited.com</a> from <span class="bold light-gold-color">December 26th to January 30th</span>. The 32 finalist will submit a <span class="bold dark-gold-color">2nd 3 minute video skit</span> and gather votes from <span class="bold light-gold-color">February 1st to February 10th</span> to move on to become among the top 12. The highest number of online votes and the votes of our selected judges will determine who moves on in the competition. The <span class="bold dark-gold-color">top 12</span> will submit a <span class="bold dark-gold-color">3rd 3 minute video skit</span> and gather votes from <span class="bold light-gold-color">February 15th to February 25th</span> to become among the <span class="bold dark-gold-color">top 6</span>. The selection process will be the same as with that of the top 12.</p>

        <p class="small">The final show will take place in <span class="bold dark-gold-color">Los Angeles, CA</span> on <span class="bold light-gold-color">April 30th</span> and will feature the <span class="bold dark-gold-color">6 finalists</span> competing head to head with each other. There will be <span class="bold dark-gold-color">3 rounds</span> of competition during which contestants will be eliminated by the judges. The winner will receive a <span class="bold">grand prize of $10, 000</span>, <span class="bold dark-gold-color">his/her own web based show, and a chance to join in a comedy tour of North America</span>. There will be <span class="bold dark-gold-color">consolation prizes</span> for the other <span class="bold dark-gold-color">5 finalists</span>.</p>

        <p class="small">The final competition will also feature the presentation of the <span class="bold dark-gold-color">a.c.l.a.m (ariya comic legend affirmation mace)</span> to honor African comic legends.</p>

        <h3 class="medium light-gold-color bold caps">Eligibility</h3>
        <p class="small">You are eligible if you are a comedian and are at least <span class="bold dark-gold-color">18 years</span> of age, of <span class="bold dark-gold-color">African or Caribbean descent</span>, and able to secure a US visa if necessary.</p>
    </div>
</section>

<section class="wanted-container section clr">
    <div class="one-third float-left">
        <div class="sidebar-image">
            <img src="../img/2.png">
            <h2 class="extra-large light-gold-color sidebar-title bold caps">Registration</h2>
        </div>
    </div>
    <div class="two-third float-left">
        <p class="large dark-gold-color">To register, subscribe to <span class="bold dark-gold-color">ariyaUNLTD</span> at <a href="www.ariyaunlimited.com" class="bold dark-gold-color">www.ariyaunlimited.com</a>, complete the <a href="/Wanted/Register">registration form</a>, and upload video. Registration begins on <span class="bold light-gold-color">December 26th and ends on January 26th</span>.</p>
        <a href="/Wanted/Register" class="large-button light-gold-bg caps">Register now</a>
        <div class="extras-container">
            @*<a href="" class="">Get merchandise</a><br /><br />*@
            <h4 class="">Follow us on</h4>
            <a href="https://www.facebook.com/wantedcomic" class="socicon-facebook follow-link"></a>
            <a href="https://twitter.com/wantedcomic" class="socicon-twitter follow-link"></a>
            @*<a href="" class="socicon-googleplus"></a>*@
            <a href="https://instagram.com/wantedcomic/" class="socicon-instagram follow-link"></a>
            @*<a href="" class="socicon-tumblr"></a>
        <a href="" class="socicon-pinterest"></a>*@
            <br /><br />
        </div>
    </div>
</section>
</div>