@{
    ViewBag.Title = "Subscribe";
    Layout = "~/Views/Shared/_LayoutPrelogIn.cshtml";
}

<div class="wanted-wrapper clr">
    <section class="wanted-container section subscribe clr">
        <div class="one-third float-left">
            <div class="sidebar-image">
                <img src="../img/ariya.png">
            </div>
        </div>
        <div class="two-third float-left subscribe-inner">
            <div class="large bold">Subscribe to ariyaUNLTD for a chance to enter the WANTED competition. <span class="light-gold-color">Subscription is currently free</span>. However, there is a $20 application fee to enter the competition.</div><br /><br />

            <form class="subscribe-form" id="" action="ProcessPayPalPayment" method="POST">
                <input type="hidden" id= "customerId" name="customerId" value="@ViewBag.CustomerId" />
                <h2 class="medium bold caps light-gold-color">Email Preferences</h2>
                <fieldset>
                    <legend class="bold">Add me to the list for Ariya events, parties and happenings.</legend>
                    <div class="field-container">
                        <input type="radio" id="ariyalist-yes" name="ariyalist" value="yes"><label for="ariyalist-yes">Yes</label><br />
                        <input type="radio" id="ariyalist-no" name="ariyalist" value="no"><label for="ariyalist-no">No</label>
                    </div>
                </fieldset>
                <fieldset>
                    <legend class="bold">I would like to receive special offers and discounts by email on behalf of third parties specially selected by Ariya.</legend>
                    <div class="field-container">
                        <input type="radio" id="offer-yes" name="offer" value="yes"><label for="offer-yes">Yes</label><br />
                        <input type="radio" id="offer-no" name="offer" value="no"><label for="offer-no">No</label>
                    </div>
                </fieldset>
                <h2 class="medium bold caps light-gold-color">Payment options</h2>
                <fieldset>
                    <div class="field-container">
                        <input type="radio" id="payment_option-paypal" name="payment_option" value="paypal" checked="checked" disabled="disabled"><label for="payment_option-paypal" class="payment-option-label"><img src="../img/paypal.png"><span>Paypal</span></label>
                        <div class="error" id="paymentoption_error"></div>
                    </div>
                </fieldset>
                <!-- 				<fieldset>
                                    <legend class="bold">Card number</legend>
                                    <div class="field-container">
                                        <input type="text" id="card-number" name="card-number" placeholder="Enter card no.">
                                    </div>
                                </fieldset> -->
                <!-- 				<fieldset>
                                    <legend class="bold"></legend>
                                    <div class="field-container">
                                        <input type="month" id="card-expiry" name="card-expiry">
                                    </div>
                                </fieldset> -->
                @*<fieldset>
                    <legend class="bold">Billing Address</legend>
                    <div class="field-container">
                        <input type="text" id="address1" name="address1" placeholder="Address line 1" class="full-width-input">
                        <input type="text" id="address2" name="address2" placeholder="Address line 2" class="full-width-input">
                    </div>
                </fieldset>*@
                <input type="submit" value="Submit Application" class="large-button light-gold-bg">
            </form>
            <img src="../img/movies.png" class="movie-posters">
        </div>
    </section>
</div>
