@using ProjectConakry.DomainObjects
@model IEnumerable<News>
@{
    ViewBag.Title = "Movie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {

        $('#AddNewsButton').click(function () {

            $('#AddNewsForm').submit();
        });

    });

</script>
<!-- Content -->
<section id="content" class="container">
    <div class="tile">
        <h2 class="tile-title">All News Items</h2>
        <div class="tile-config dropdown">
            <a title="" class="tooltips tile-menu" href="" data-original-title="Options" data-toggle="dropdown"></a>
            <ul class="dropdown-menu pull-right text-right">
                <li><a href="#modalDefault" data-toggle="modal">Add New News Item</a></li>
            </ul>
        </div>

        <div class="listview narrow sortable ui-sortable">
            @if (Model == null || !Model.Any())
{
    <span style="padding-left: 40px;"> There are no News Item in the database ! </span>
}
else
{

    foreach (var newsItem in Model)
    {
                    <div class="media p-l-5">
                        <div class="pull-left">
                            <img width="40" alt="" src='@newsItem.Caption'>
                        </div>
                        <div class="media-body">
                            <small class="text-muted">@newsItem.ExpireDate</small><br>
                            <span class="t-overflow">@newsItem.CreatedDate</span>

                        </div>
                    </div>
                } 
            }
            <div class="media p-5 text-center l-100">
                <a href="#"><small>VIEW ALL</small></a>
            </div>
        </div>
    </div>
</section>


<div class="block-area" id="modal">    
    <!-- Modal Default -->
    <div tabindex="-1" class="modal fade" id="modalDefault" role="dialog" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                @using(Html.BeginForm("Add", "News", FormMethod.Post, new { id = "AddNewsForm"}))
                {
                    <div class="modal-header">
                        <button class="close" aria-hidden="true" type="button" data-dismiss="modal">×</button>
                        <h4 class="modal-title">Add New News Item</h4>
                    </div>
                    <div class="modal-body">
                        @{ Html.RenderPartial("AddNews", new News()); }
                    </div>
                    <div class="modal-footer">
                        <button id="AddNewsButton" class="btn btn-sm" type="button">Save changes</button>
                        <button class="btn btn-sm" type="button" data-dismiss="modal">Close</button>
                    </div>
                }
             </div>
        </div>
    </div> 
</div>