@model ProjectConakry.DomainObjects.WantedUser
@{
    ViewBag.Title = "Vote";
    Layout = "~/Views/Shared/_LayoutNoJs.cshtml";
    string fileExtension = Path.GetExtension(Model.EntryVideoFileName);
    string videoPath = ViewBag.MediaPath + Model.CustomerId + fileExtension;
}

<section class="container section clear">
    <form class="subscribe-form" id="" action="/VotingProfile/Vote" method="POST">
        <input type="hidden" id="customerId" name="customerId" value="@Model.CustomerId" />
        <div class="author">
            @*<h1 class="light-gold-color">Author :@Model.FirstName</h1>*@
        </div>
        <div class="authorVideo">
            <video width="800" height="600" controls autoplay="autoplay">
                <source src="@videoPath" type="video/mp4"/>
            </video>
        </div>
        <div class="authorVote">
            @if (!((bool)ViewBag.ShowVoteButton))
            {
                 <input type="submit" id="vote" class="large-button light-gold-bg caps" value="Vote">
            }
        </div>
        </form>
</section>