@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutNoJs.cshtml";
}

<style type="text/css">

    .pagina {
        display: table;
        margin: 15px auto;
        padding: 0;
    }

        .pagina li {
            list-style: none;
            float: left;
            margin: 5px;
            padding: 4px 10px;
            background: #004505;
            border: 1px solid;
        }

            .pagina li:hover, .pagina li.active {
                background: #fafafa;
            }

        .pagina a {
            display: block;
            padding: 4px;
            text-decoration: none;
            color: #fafafa;
        }

        .pagina a:hover, .pagina li:hover a, .pagina li.active a {
            color: #5c5c5c;
        }
</style>

<script type="text/javascript">    
        $(document).ready(function () {
            $('.paginghack').bind('click', function () {

                $('.active').removeClass('active');
                var pageNumber = parseInt($(this).attr('id'));
                window.PageNumber = pageNumber;
                setCookie("pageNumber", pageNumber, 0.05);
                location.reload();

            });
            $('#' + window.PageNumber + 'li').addClass('active');
        })
</script>


<div id="slider-wrap">
    <div class="thumbs-block">
        <div class="addcallertunez"><!-- <img src="images/addcallertunez.png" /> --> </div>
        <div class="clr"></div>
        <div id="carousel-wrap">
            <ul id="carousel" class="top_slider roundabout-holder" data-bind="roundabout: ''">
                <li> <img src="~/images/slide1.png" alt="image01"> </li>
                <li> <img src="~/images/slide2.png" alt="image02"> </li>
                <li> <img src="~/images/slide3.png" alt="image03"> </li>
                <li> <img src="~/images/slide4.png" alt="image04"> </li>
                <li> <img src="~/images/slide5.png" alt="image01"> </li>
                <li> <img src="~/images/slide6.png" alt="image01"> </li>
                <li> <img src="~/images/slide1.png" alt="image01"> </li>
                <li> <img src="~/images/slide2.png" alt="image01"> </li>
                <li> <img src="~/images/slide3.png" alt="image01"> </li>
                <li> <img src="~/images/slide4.png" alt="image01"> </li>
            </ul>
        </div>
        <!--thumbsEND-->
    </div>
</div>
<!--sliderEND-->
<div class="clr"></div>
<!--header-wrapEND-->
<div class="clr"></div>

<!--content-->
<section id="content">
    <!--content-inner-->
    <div id="content-inner">
        <section id="container">    
            <!--listing-wrapp-->
            <div class="listing-wrap listing-wrap-after-login" data-bind="foreach: sections">
                <h1>Your Recommended Videos</h1>
                <!--topten-->
                <ul class="home-listing" data-bind="foreach: List">
                    <li class="toplisting">
                        <div class="toplisting-inner">
                            <img data-bind="image: ThumbNailImagePath" style="width: 192px; height: 136px" />
                            <div class="artist-detials">
                                <div data-bind="if: (typeof(Name) != 'undefined')">
                                    <h2 data-bind="text: Name"></h2>
                                    <h4 data-bind="text: ('Director: ' + CoverArtistDisplayName)"></h4>
                                </div>
                            </div>
                        </div>
                        <div class="social-buttons">
                            <ul>
                                <li>
                                    <div class="addthis_toolbox addthis_20x20_style addthis-smartlayers at-share-tbx-element" data-url="domain.com" data-title="title">
                                        <a class="addthis_button_facebook" style="cursor: pointer"></a>
                                        <a class="addthis_button_twitter" style="cursor: pointer"></a>
                                        <a class="addthis_button_google_plusone_share" style="cursor: pointer"></a>
                                    </div>
                                </li>
                                <li><a href="#" data-bind="details: '#'">
                                        <img src="~/images/addtocart-btn.png" /></a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <!--listing-wrappEND-->
        </section>
        <!--containerEND-->
        <!--rightsidebar-->
        <!--rightsidebarEND-->
        <div class="clr"></div>
    </div>
    <!--content-innerEND-->
</section>
<!--contentEND-->
<div class="clr"></div>
<script type="text/javascript" src="~/Scripts/require.js" data-main="/App/account"></script>
<script type="text/javascript" src="~/App/RequireConfig.js"></script>

<ul class="pagina">
    @*<li><a href="#">Prev</a></li>*@
    <li id="1li"><a id="1" class="paginghack" href="#">1</a></li>
    <li id="2li"><a id="2" class="paginghack" href="#">2</a></li>
    <li id="3li"><a id="3" class="paginghack" href="#">3</a></li>
    <li id="4li"><a id="4" class="paginghack" href="#">4</a></li>
    <li id="5li"><a id="5" class="paginghack" href="#">5</a></li>
    @*<li><a href="#">6</a></li></li>
    <li><a href="#">7</a></li></li>
    <li><a href="#">8</a></li></li>
    <li><a href="#">9</a></li></li>
    <li><a href="#">10</a></li>*@
    @*<li><a href="#">Next</a></li>*@
</ul>