
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="slider-wrap">
    <div class="thumbs-block">
        <div class="addcallertunez"><!-- <img src="images/addcallertunez.png" /> --> </div>
        <div class="clr"></div>
        <div id="carousel-wrap">
            <ul id="carousel" class="top_slider roundabout-holder">
                <li> <img src="images/slide1.png" alt="image01"> </li>
                <li> <img src="images/slide2.png" alt="image02"> </li>
                <li> <img src="images/slide3.png" alt="image03"> </li>
                <li> <img src="images/slide4.png" alt="image04"> </li>
                <li> <img src="images/slide5.png" alt="image01"> </li>
                <li> <img src="images/slide6.png" alt="image01"> </li>
                <li> <img src="images/slide1.png" alt="image01"> </li>
                <li> <img src="images/slide2.png" alt="image01"> </li>
                <li> <img src="images/slide3.png" alt="image01"> </li>
                <li> <img src="images/slide4.png" alt="image01"> </li>
            </ul>
        </div>
        <!--thumbsEND-->
    </div>
</div>
<!--sliderEND-->
<div class="clr"></div>
<!--header-wrapEND-->
<div class="clr"></div>

<!--content-->
<section id="content">
    <div class="listing-wrap listing-wrap-after-login">
        <h1>TOP PICKS FOR YOU !</h1>
        <!--topten-->
        <ul class="home-listing2">
            <li class="toplisting">
                <div class="toplisting-inner">
                    <img src="images/grass-grace.gif" />
                    <div class="artist-detials">
                        <h2>Grass to Grace</h2>
                        <h4>Artist: 2face Idibia</h4>
                    </div>
                </div>
                <div class="social-buttons">
                    <!-- Go to www.addthis.com/dashboard to customize your tools -->

                    <ul>
                        <li><div class="addthis_sharing_toolbox" data-url="THE URL" data-title="THE TITLE"></div></li>
                        <li><a href="detail.html "><img src="images/addtocart-btn.png" /></a></li>

                    </ul>
                </div>

            </li>
            <!--toptenEND-->
            <!--topten-tab2-->
            <li class="toplisting">
                <div class="toplisting-inner">
                    <img src="images/mandela.gif" />
                    <div class="artist-detials">
                        <h2>Mandela</h2>
                        <h4>Director: Idris Elba</h4>
                    </div>
                </div>
                <div class="social-buttons">
                    <ul>
                        <li><div class="addthis_sharing_toolbox" data-url="THE URL" data-title="THE TITLE"></div></li>
                        <li><a href="#"><img src="images/addtocart-btn.png" /></a></li>

                    </ul>
                </div>

            </li>
            <!--topten-tab2END-->
            <!--topten-tab3-->
            <li class="toplisting">
                <div class="toplisting-inner">
                    <img src="images/longwalk.gif" />
                    <div class="artist-detials">
                        <h2>
                            Long Walk to Freedom<br />
                        </h2>
                        <h4>Author: Nelson Mandela</h4>
                    </div>
                </div>
                <div class="social-buttons">
                    <ul>
                        <li><div class="addthis_sharing_toolbox" data-url="THE URL" data-title="THE TITLE"></div></li>
                        <li><a href="#"><img src="images/addtocart-btn.png" /></a></li>

                    </ul>
                </div>

            </li>
            <!--topten-tab3END-->
            <!--topten-tab4-->
            <li class="toplisting">
                <div class="toplisting-inner">
                    <img src="images/asa.gif" />
                    <div class="artist-detials">
                        <h2>Beautiful Imperfection</h2>
                        <h4>Artist: Asa</h4>
                    </div>
                </div>
                <div class="social-buttons">
                    <ul>
                        <li><div class="addthis_sharing_toolbox" data-url="THE URL" data-title="THE TITLE"></div></li>
                        <li><a href="#"><img src="images/addtocart-btn.png" /></a></li>

                    </ul>
                </div>

            </li>
            <!--topten-tab5-->
            <li class="toplisting">
                <div class="toplisting-inner">
                    <img src="images/asa.gif" />
                    <div class="artist-detials">
                        <h2>Beautiful Imperfection</h2>
                        <h4>Artist: Asa</h4>
                    </div>
                </div>
                <div class="social-buttons">
                    <ul>
                        <li><div class="addthis_sharing_toolbox" data-url="THE URL" data-title="THE TITLE"></div></li>
                        <li><a href="#"><img src="images/addtocart-btn.png" /></a></li>

                    </ul>
                </div>

            </li>
            <!--topten-tab6-->
            <li class="toplisting">
                <div class="toplisting-inner">
                    <img src="images/asa.gif" />
                    <div class="artist-detials">
                        <h2>Beautiful Imperfection</h2>
                        <h4>Artist: Asa</h4>
                    </div>
                </div>
                <div class="social-buttons">
                    <ul>
                        <li><div class="addthis_sharing_toolbox" data-url="THE URL" data-title="THE TITLE"></div></li>
                        <li><a href="#"><img src="images/addtocart-btn.png" /></a></li>

                    </ul>
                </div>

            </li>
            <li class="toplisting">
                <div class="toplisting-inner">
                    <img src="images/grass-grace.gif" />
                    <div class="artist-detials">
                        <h2>Grass to Grace</h2>
                        <h4>Artist: 2face Idibia</h4>
                    </div>
                </div>
                <div class="social-buttons">
                    <ul>
                        <li><div class="addthis_sharing_toolbox" data-url="THE URL" data-title="THE TITLE"></div></li>
                        <li><a href="#"><img src="images/addtocart-btn.png" /></a></li>

                    </ul>
                </div>

            </li>
            <!--toptenEND-->
            <!--topten-tab2-->
            <li class="toplisting">
                <div class="toplisting-inner">
                    <img src="images/mandela.gif" />
                    <div class="artist-detials">
                        <h2>Mandela</h2>
                        <h4>Director: Idris Elba</h4>
                    </div>
                </div>
                <div class="social-buttons">
                    <ul>
                        <li><div class="addthis_sharing_toolbox" data-url="THE URL" data-title="THE TITLE"></div></li>
                        <li><a href="#"><img src="images/addtocart-btn.png" /></a></li>

                    </ul>
                </div>

            </li>
            <!--topten-tab2END-->
            <!--topten-tab3-->
            <li class="toplisting">
                <div class="toplisting-inner">
                    <img src="images/longwalk.gif" />
                    <div class="artist-detials">
                        <h2>
                            Long Walk to Freedom<br />
                        </h2>
                        <h4>Author: Nelson Mandela</h4>
                    </div>
                </div>
                <div class="social-buttons">
                    <ul>
                        <li><div class="addthis_sharing_toolbox" data-url="THE URL" data-title="THE TITLE"></div></li>
                        <li><a href="#"><img src="images/addtocart-btn.png" /></a></li>

                    </ul>
                </div>

            </li>
            <!--topten-tab3END-->
            <!--topten-tab4-->
            <li class="toplisting">
                <div class="toplisting-inner">
                    <img src="images/asa.gif" />
                    <div class="artist-detials">
                        <h2>Beautiful Imperfection</h2>
                        <h4>Artist: Asa</h4>
                    </div>
                </div>
                <div class="social-buttons">
                    <ul>
                        <li><div class="addthis_sharing_toolbox" data-url="THE URL" data-title="THE TITLE"></div></li>
                        <li><a href="#"><img src="images/addtocart-btn.png" /></a></li>

                    </ul>
                </div>

            </li>

            <li class="toplisting">
                <div class="toplisting-inner">
                    <img src="images/grass-grace.gif" />
                    <div class="artist-detials">
                        <h2>Grass to Grace</h2>
                        <h4>Artist: 2face Idibia</h4>
                    </div>
                </div>
                <div class="social-buttons">
                    <ul>
                        <li><div class="addthis_sharing_toolbox" data-url="THE URL" data-title="THE TITLE"></div></li>
                        <li><a href="#"><img src="images/addtocart-btn.png" /></a></li>

                    </ul>
                </div>

            </li>
            <!--toptenEND-->
            <!--topten-tab2-->
            <li class="toplisting">
                <div class="toplisting-inner">
                    <img src="images/mandela.gif" />
                    <div class="artist-detials">
                        <h2>Mandela</h2>
                        <h4>Director: Idris Elba</h4>
                    </div>
                </div>
                <div class="social-buttons">
                    <ul>
                        <li><div class="addthis_sharing_toolbox" data-url="THE URL" data-title="THE TITLE"></div></li>
                        <li><a href="#"><img src="images/addtocart-btn.png" /></a></li>

                    </ul>
                </div>

            </li>
            <!--topten-tab2END-->
            <!--topten-tab3-->
            <li class="toplisting">
                <div class="toplisting-inner">
                    <img src="images/longwalk.gif" />
                    <div class="artist-detials">
                        <h2>
                            Long Walk to Freedom<br />
                        </h2>
                        <h4>Author: Nelson Mandela</h4>
                    </div>
                </div>
                <div class="social-buttons">
                    <ul>
                        <li><div class="addthis_sharing_toolbox" data-url="THE URL" data-title="THE TITLE"></div></li>
                        <li><a href="#"><img src="images/addtocart-btn.png" /></a></li>

                    </ul>
                </div>

            </li>
            <!--topten-tab3END-->
            <!--topten-tab4-->
            <li class="toplisting">
                <div class="toplisting-inner">
                    <img src="images/asa.gif" />
                    <div class="artist-detials">
                        <h2>Beautiful Imperfection</h2>
                        <h4>Artist: Asa</h4>
                    </div>
                </div>
                <div class="social-buttons">
                    <ul>
                        <li><div class="addthis_sharing_toolbox" data-url="THE URL" data-title="THE TITLE"></div></li>
                        <li><a href="#"><img src="images/addtocart-btn.png" /></a></li>

                    </ul>
                </div>

            </li>

            <li class="toplisting">
                <div class="toplisting-inner">
                    <img src="images/grass-grace.gif" />
                    <div class="artist-detials">
                        <h2>Grass to Grace</h2>
                        <h4>Artist: 2face Idibia</h4>
                    </div>
                </div>
                <div class="social-buttons">
                    <ul>
                        <li><div class="addthis_sharing_toolbox" data-url="THE URL" data-title="THE TITLE"></div></li>
                        <li><a href="#"><img src="images/addtocart-btn.png" /></a></li>

                    </ul>
                </div>

            </li>
            <!--toptenEND-->
            <!--topten-tab2-->
            <li class="toplisting">
                <div class="toplisting-inner">
                    <img src="images/mandela.gif" />
                    <div class="artist-detials">
                        <h2>Mandela</h2>
                        <h4>Director: Idris Elba</h4>
                    </div>
                </div>
                <div class="social-buttons">
                    <ul>
                        <li><div class="addthis_sharing_toolbox" data-url="THE URL" data-title="THE TITLE"></div></li>
                        <li><a href="#"><img src="images/addtocart-btn.png" /></a></li>

                    </ul>
                </div>

            </li>
            <!--topten-tab2END-->
            <!--topten-tab3-->
            <li class="toplisting">
                <div class="toplisting-inner">
                    <img src="images/longwalk.gif" />
                    <div class="artist-detials">
                        <h2>
                            Long Walk to Freedom<br />
                        </h2>
                        <h4>Author: Nelson Mandela</h4>
                    </div>
                </div>
                <div class="social-buttons">
                    <ul>
                        <li><div class="addthis_sharing_toolbox" data-url="THE URL" data-title="THE TITLE"></div></li>
                        <li><a href="#"><img src="images/addtocart-btn.png" /></a></li>

                    </ul>
                </div>

            </li>
            <!--topten-tab3END-->
            <!--topten-tab4-->
            <li class="toplisting">
                <div class="toplisting-inner">
                    <img src="images/asa.gif" />
                    <div class="artist-detials">
                        <h2>Beautiful Imperfection</h2>
                        <h4>Artist: Asa</h4>
                    </div>
                </div>
                <div class="social-buttons">
                    <ul>
                        <li><div class="addthis_sharing_toolbox" data-url="THE URL" data-title="THE TITLE"></div></li>
                        <li><a href="#"><img src="images/addtocart-btn.png" /></a></li>

                    </ul>
                </div>

            </li>
            <li class="toplisting">
                <div class="toplisting-inner">
                    <img src="images/asa.gif" />
                    <div class="artist-detials">
                        <h2>Beautiful Imperfection</h2>
                        <h4>Artist: Asa</h4>
                    </div>
                </div>
                <div class="social-buttons">
                    <ul>
                        <li><div class="addthis_sharing_toolbox" data-url="THE URL" data-title="THE TITLE"></div></li>
                        <li><a href="#"><img src="images/addtocart-btn.png" /></a></li>

                    </ul>
                </div>

            </li>
            <li class="toplisting">
                <div class="toplisting-inner">
                    <img src="images/asa.gif" />
                    <div class="artist-detials">
                        <h2>Beautiful Imperfection</h2>
                        <h4>Artist: Asa</h4>
                    </div>
                </div>
                <div class="social-buttons">
                    <ul>
                        <li><div class="addthis_sharing_toolbox" data-url="THE URL" data-title="THE TITLE"></div></li>
                        <li><a href="#"><img src="images/addtocart-btn.png" /></a></li>

                    </ul>
                </div>

            </li>
        </ul>
        <!--topten-tab4END-->
    </div>
</section>