
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <!--content-->

    <section id="content">

        <!--content-inner-->
        <div id="content-inner">
            <section id="profile-left">
                <div class="follow-chat">
                    <h3>Follow Chat</h3>
                    <img src="images/follow-chat.png" />
                    <div class="follow-selection">
                        <div class="form-field">
                            <label>Theme</label>
                            <span>Wild man or tour</span>
                        </div>
                        <div class="form-field">
                            <label>Act</label>
                            <span> Pro</span>
                        </div>
                        <div class="form-field">
                            <label>Status</label>
                            <span> Musician</span>
                        </div>
                        <div class="clr"></div>
                    </div>

                </div>

                <div class="bio">
                    <h3>Bio Data</h3>
                    <p>
                        Innocent Ujah Idibia (born in Jos, Plateau State,
                        Nigeria), better known by his stage name 2face Idibia, is a Nigerian singer, songwriter and record producer.
                    </p>
                    <p>He offiially discontinued the use of the name Tuface and selected Tu-baba as his stage name. He is one of the most decorated and successful Afro pop artists in Africa. He is also one of the most bankable artists in Africa.</p>
                    <p>2Face has received one MTV Europe Music Award, one World Music Award, fie Headies Awards (Hip-hop award), four Channel O Music Video Awards and one BET award for his musicaladditional work, four MTV Africa Music Awards, one MOBO award, one KORA award, and numerous nominations.</p>
                </div>
            </section>
            <section id="profile-middle">
                <h3>EVENT</h3>
                <div class="event-content">
                    <ul class="events-slider">
                        <li>
                            <div class="event-tab">
                                <div class="calander">
                                    <h2>Jan.</h2>
                                    <h5>31</h5>
                                </div>
                                <div class="event-text">
                                    PSquare Live Venue: Muson Centre, Lagos Time:    20.00 GMT Price:    $ 10.00
                                </div>
                                <div class="ticket-info-btn">
                                    <ul>
                                        <li><a href="#">Ticket</a></li>
                                        <li><a href="#" class="active">Info</a></li>
                                    </ul>
                                </div>
                            </div>

                            <!--eventEND-->
                            <div class="event-tab">
                                <div class="calander">
                                    <h2>Fab.</h2>
                                    <h5>04</h5>
                                </div>
                                <div class="event-text">
                                    PSquare Live Venue: Muson Centre, Lagos Time:    20.00 GMT Price:    $ 10.00
                                </div>
                                <div class="ticket-info-btn">
                                    <ul>
                                        <li><a href="#">Ticket</a></li>
                                        <li><a href="#" class="active">Info</a></li>
                                    </ul>
                                </div>
                            </div>

                            <!--eventEND-->

                            <div class="event-tab">
                                <div class="calander">
                                    <h2>Mar.</h2>
                                    <h5>15</h5>
                                </div>
                                <div class="event-text">
                                    PSquare Live Venue: Muson Centre, Lagos Time:    20.00 GMT Price:    $ 10.00
                                </div>
                                <div class="ticket-info-btn">
                                    <ul>
                                        <li><a href="#">Ticket</a></li>
                                        <li><a href="#" class="active">Info</a></li>
                                    </ul>
                                </div>
                            </div>

                            <!--eventEND-->




                        </li>
                        <li>
                            <div class="event-tab">
                                <div class="calander">
                                    <h2>Jan.</h2>
                                    <h5>31</h5>
                                </div>
                                <div class="event-text">
                                    PSquare Live Venue: Muson Centre, Lagos Time:    20.00 GMT Price:    $ 10.00
                                </div>
                                <div class="ticket-info-btn">
                                    <ul>
                                        <li><a href="#">Ticket</a></li>
                                        <li><a href="#" class="active">Info</a></li>
                                    </ul>
                                </div>
                            </div>

                            <!--eventEND-->
                            <div class="event-tab">
                                <div class="calander">
                                    <h2>Fab.</h2>
                                    <h5>04</h5>
                                </div>
                                <div class="event-text">
                                    PSquare Live Venue: Muson Centre, Lagos Time:    20.00 GMT Price:    $ 10.00
                                </div>
                                <div class="ticket-info-btn">
                                    <ul>
                                        <li><a href="#">Ticket</a></li>
                                        <li><a href="#" class="active">Info</a></li>
                                    </ul>
                                </div>
                            </div>

                            <!--eventEND-->

                            <div class="event-tab">
                                <div class="calander">
                                    <h2>Mar.</h2>
                                    <h5>15</h5>
                                </div>
                                <div class="event-text">
                                    PSquare Live Venue: Muson Centre, Lagos Time:    20.00 GMT Price:    $ 10.00
                                </div>
                                <div class="ticket-info-btn">
                                    <ul>
                                        <li><a href="#">Ticket</a></li>
                                        <li><a href="#" class="active">Info</a></li>
                                    </ul>
                                </div>
                            </div>

                            <!--eventEND-->



                        </li>
                        <li>
                            <div class="event-tab">
                                <div class="calander">
                                    <h2>Jan.</h2>
                                    <h5>31</h5>
                                </div>
                                <div class="event-text">
                                    PSquare Live Venue: Muson Centre, Lagos Time:    20.00 GMT Price:    $ 10.00
                                </div>
                                <div class="ticket-info-btn">
                                    <ul>
                                        <li><a href="#">Ticket</a></li>
                                        <li><a href="#" class="active">Info</a></li>
                                    </ul>
                                </div>
                            </div>

                            <!--eventEND-->
                            <div class="event-tab">
                                <div class="calander">
                                    <h2>Fab.</h2>
                                    <h5>04</h5>
                                </div>
                                <div class="event-text">
                                    PSquare Live Venue: Muson Centre, Lagos Time:    20.00 GMT Price:    $ 10.00
                                </div>
                                <div class="ticket-info-btn">
                                    <ul>
                                        <li><a href="#">Ticket</a></li>
                                        <li><a href="#" class="active">Info</a></li>
                                    </ul>
                                </div>
                            </div>

                            <!--eventEND-->

                            <div class="event-tab">
                                <div class="calander">
                                    <h2>Mar.</h2>
                                    <h5>15</h5>
                                </div>
                                <div class="event-text">
                                    PSquare Live Venue: Muson Centre, Lagos Time:    20.00 GMT Price:    $ 10.00
                                </div>
                                <div class="ticket-info-btn">
                                    <ul>
                                        <li><a href="#">Ticket</a></li>
                                        <li><a href="#" class="active">Info</a></li>
                                    </ul>
                                </div>
                            </div>

                            <!--eventEND-->



                        </li>
                        <li>
                            <div class="event-tab">
                                <div class="calander">
                                    <h2>Jan.</h2>
                                    <h5>31</h5>
                                </div>
                                <div class="event-text">
                                    PSquare Live Venue: Muson Centre, Lagos Time:    20.00 GMT Price:    $ 10.00
                                </div>
                                <div class="ticket-info-btn">
                                    <ul>
                                        <li><a href="#">Ticket</a></li>
                                        <li><a href="#" class="active">Info</a></li>
                                    </ul>
                                </div>
                            </div>

                            <!--eventEND-->
                            <div class="event-tab">
                                <div class="calander">
                                    <h2>Fab.</h2>
                                    <h5>04</h5>
                                </div>
                                <div class="event-text">
                                    PSquare Live Venue: Muson Centre, Lagos Time:    20.00 GMT Price:    $ 10.00
                                </div>
                                <div class="ticket-info-btn">
                                    <ul>
                                        <li><a href="#">Ticket</a></li>
                                        <li><a href="#" class="active">Info</a></li>
                                    </ul>
                                </div>
                            </div>

                            <!--eventEND-->

                            <div class="event-tab">
                                <div class="calander">
                                    <h2>Mar.</h2>
                                    <h5>15</h5>
                                </div>
                                <div class="event-text">
                                    PSquare Live Venue: Muson Centre, Lagos Time:    20.00 GMT Price:    $ 10.00
                                </div>
                                <div class="ticket-info-btn">
                                    <ul>
                                        <li><a href="#">Ticket</a></li>
                                        <li><a href="#" class="active">Info</a></li>
                                    </ul>
                                </div>
                            </div>

                            <!--eventEND-->



                        </li>


                    </ul>

                    <!--eventEND-->
                </div>

                <!--eventEND-->
                <!--lounge-->
                <div id="blog">
                    <h3>BLOG</h3>
                    <div class="blog-content">
                        <ul class="blog-slider">
                            <li>
                                <ul>
                                    <li>
                                        <div class="blog-title"><a href="#">African Quene recieves award for best vocals, BET 2015</a></div>
                                        <div class="btns">
                                            <span class="edit-del"><a class="edit" href="#">Edit</a><a class="del" href="#">Delete</a><div class="clr"></div></span>
                                            <span class="read-more"><a href="#">READ</a></span>
                                        </div><div class="clr"></div>
                                    </li>
                                    <li>
                                        <div class="blog-title"><a href="#">African Quene recieves award for best vocals, BET 2015</a></div>
                                        <div class="btns">
                                            <span class="edit-del"><a class="edit" href="#">Edit</a><a class="del" href="#">Delete</a><div class="clr"></div></span>
                                            <span class="read-more"><a href="#">READ</a></span>
                                        </div><div class="clr"></div>
                                    </li>
                                    <li>
                                        <div class="blog-title"><a href="#">African Quene recieves award for best vocals, BET 2015</a></div>
                                        <div class="btns">
                                            <span class="edit-del"><a class="edit" href="#">Edit</a><a class="del" href="#">Delete</a><div class="clr"></div></span>
                                            <span class="read-more"><a href="#">READ</a></span>
                                        </div><div class="clr"></div>
                                    </li>
                                    <li>
                                        <div class="blog-title"><a href="#">African Quene recieves award for best vocals, BET 2015</a></div>
                                        <div class="btns">
                                            <span class="edit-del"><a class="edit" href="#">Edit</a><a class="del" href="#">Delete</a><div class="clr"></div></span>
                                            <span class="read-more"><a href="#">READ</a></span>
                                        </div><div class="clr"></div>
                                    </li>
                                    <li>
                                        <div class="blog-title"><a href="#">African Quene recieves award for best vocals, BET 2015</a></div>
                                        <div class="btns">
                                            <span class="edit-del"><a class="edit" href="#">Edit</a><a class="del" href="#">Delete</a><div class="clr"></div></span>
                                            <span class="read-more"><a href="#">READ</a></span>
                                        </div><div class="clr"></div>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <ul>
                                    <li>
                                        <div class="blog-title"><a href="#">African Quene recieves award for best vocals, BET 2015</a></div>
                                        <div class="btns">
                                            <span class="edit-del"><a class="edit" href="#">Edit</a><a class="del" href="#">Delete</a><div class="clr"></div></span>
                                            <span class="read-more"><a href="#">READ</a></span>
                                        </div><div class="clr"></div>
                                    </li>
                                    <li>
                                        <div class="blog-title"><a href="#">African Quene recieves award for best vocals, BET 2015</a></div>
                                        <div class="btns">
                                            <span class="edit-del"><a class="edit" href="#">Edit</a><a class="del" href="#">Delete</a><div class="clr"></div></span>
                                            <span class="read-more"><a href="#">READ</a></span>
                                        </div><div class="clr"></div>
                                    </li>
                                    <li>
                                        <div class="blog-title"><a href="#">African Quene recieves award for best vocals, BET 2015</a></div>
                                        <div class="btns">
                                            <span class="edit-del"><a class="edit" href="#">Edit</a><a class="del" href="#">Delete</a><div class="clr"></div></span>
                                            <span class="read-more"><a href="#">READ</a></span>
                                        </div><div class="clr"></div>
                                    </li>
                                    <li>
                                        <div class="blog-title"><a href="#">African Quene recieves award for best vocals, BET 2015</a></div>
                                        <div class="btns">
                                            <span class="edit-del"><a class="edit" href="#">Edit</a><a class="del" href="#">Delete</a><div class="clr"></div></span>
                                            <span class="read-more"><a href="#">READ</a></span>
                                        </div><div class="clr"></div>
                                    </li>
                                    <li>
                                        <div class="blog-title"><a href="#">African Quene recieves award for best vocals, BET 2015</a></div>
                                        <div class="btns">
                                            <span class="edit-del"><a class="edit" href="#">Edit</a><a class="del" href="#">Delete</a><div class="clr"></div></span>
                                            <span class="read-more"><a href="#">READ</a></span>
                                        </div><div class="clr"></div>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <ul>
                                    <li>
                                        <div class="blog-title"><a href="#">African Quene recieves award for best vocals, BET 2015</a></div>
                                        <div class="btns">
                                            <span class="edit-del"><a class="edit" href="#">Edit</a><a class="del" href="#">Delete</a><div class="clr"></div></span>
                                            <span class="read-more"><a href="#">READ</a></span>
                                        </div><div class="clr"></div>
                                    </li>
                                    <li>
                                        <div class="blog-title"><a href="#">African Quene recieves award for best vocals, BET 2015</a></div>
                                        <div class="btns">
                                            <span class="edit-del"><a class="edit" href="#">Edit</a><a class="del" href="#">Delete</a><div class="clr"></div></span>
                                            <span class="read-more"><a href="#">READ</a></span>
                                        </div><div class="clr"></div>
                                    </li>
                                    <li>
                                        <div class="blog-title"><a href="#">African Quene recieves award for best vocals, BET 2015</a></div>
                                        <div class="btns">
                                            <span class="edit-del"><a class="edit" href="#">Edit</a><a class="del" href="#">Delete</a><div class="clr"></div></span>
                                            <span class="read-more"><a href="#">READ</a></span>
                                        </div><div class="clr"></div>
                                    </li>
                                    <li>
                                        <div class="blog-title"><a href="#">African Quene recieves award for best vocals, BET 2015</a></div>
                                        <div class="btns">
                                            <span class="edit-del"><a class="edit" href="#">Edit</a><a class="del" href="#">Delete</a><div class="clr"></div></span>
                                            <span class="read-more"><a href="#">READ</a></span>
                                        </div><div class="clr"></div>
                                    </li>
                                    <li>
                                        <div class="blog-title"><a href="#">African Quene recieves award for best vocals, BET 2015</a></div>
                                        <div class="btns">
                                            <span class="edit-del"><a class="edit" href="#">Edit</a><a class="del" href="#">Delete</a><div class="clr"></div></span>
                                            <span class="read-more"><a href="#">READ</a></span>
                                        </div><div class="clr"></div>
                                    </li>
                                </ul>
                            </li>

                            <li>
                                <ul>
                                    <li>
                                        <div class="blog-title"><a href="#">African Quene recieves award for best vocals, BET 2015</a></div>
                                        <div class="btns">
                                            <span class="edit-del"><a class="edit" href="#">Edit</a><a class="del" href="#">Delete</a><div class="clr"></div></span>
                                            <span class="read-more"><a href="#">READ</a></span>
                                        </div><div class="clr"></div>
                                    </li>
                                    <li>
                                        <div class="blog-title"><a href="#">African Quene recieves award for best vocals, BET 2015</a></div>
                                        <div class="btns">
                                            <span class="edit-del"><a class="edit" href="#">Edit</a><a class="del" href="#">Delete</a><div class="clr"></div></span>
                                            <span class="read-more"><a href="#">READ</a></span>
                                        </div><div class="clr"></div>
                                    </li>
                                    <li>
                                        <div class="blog-title"><a href="#">African Quene recieves award for best vocals, BET 2015</a></div>
                                        <div class="btns">
                                            <span class="edit-del"><a class="edit" href="#">Edit</a><a class="del" href="#">Delete</a><div class="clr"></div></span>
                                            <span class="read-more"><a href="#">READ</a></span>
                                        </div><div class="clr"></div>
                                    </li>
                                    <li>
                                        <div class="blog-title"><a href="#">African Quene recieves award for best vocals, BET 2015</a></div>
                                        <div class="btns">
                                            <span class="edit-del"><a class="edit" href="#">Edit</a><a class="del" href="#">Delete</a><div class="clr"></div></span>
                                            <span class="read-more"><a href="#">READ</a></span>
                                        </div><div class="clr"></div>
                                    </li>
                                    <li>
                                        <div class="blog-title"><a href="#">African Quene recieves award for best vocals, BET 2015</a></div>
                                        <div class="btns">
                                            <span class="edit-del"><a class="edit" href="#">Edit</a><a class="del" href="#">Delete</a><div class="clr"></div></span>
                                            <span class="read-more"><a href="#">READ</a></span>
                                        </div><div class="clr"></div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                </div>
            </section>
            <section id="profile-right">

                <h3>GALLERY </h3>
                <!--topten-->
                <ul class="gallery-slider">
                    <li class="toplisting">
                        <div class="toplisting-inner">
                            <img src="images/gallery1.png" />
                            <div class="gallery-info">
                                <h4>I am very happy to say I DO.</h4>
                                <div class="social-buttons">
                                    <a href="#"><img src="images/facebook-small.png" /></a>
                                    <a href="#"><img src="images/twitter-small.png" /></a>
                                    <a href="#"><img src="images/google-small.png" /></a>
                                </div>
                                <div class="clr"></div>
                            </div>
                        </div>
                    </li>
                    <li class="toplisting">
                        <div class="toplisting-inner">
                            <img src="images/gallery2.png" />
                            <div class="gallery-info">
                                <h4>Lovely time spent together with family. Wont trade them .</h4>
                                <div class="social-buttons">
                                    <a href="#"><img src="images/facebook-small.png" /></a>
                                    <a href="#"><img src="images/twitter-small.png" /></a>
                                    <a href="#"><img src="images/google-small.png" /></a>
                                </div>
                                <div class="clr"></div>
                            </div>
                        </div>
                    </li>
                    <li class="toplisting">
                        <div class="toplisting-inner">
                            <img src="images/gallery3.png" />
                            <div class="gallery-info">
                                <h4>MTV award for best R&B artist. Na Baba God</h4>
                                <div class="social-buttons">
                                    <a href="#"><img src="images/facebook-small.png" /></a>
                                    <a href="#"><img src="images/twitter-small.png" /></a>
                                    <a href="#"><img src="images/google-small.png" /></a>
                                </div>
                                <div class="clr"></div>
                            </div>
                        </div>
                    </li>
                    <li class="toplisting">
                        <div class="toplisting-inner">
                            <img src="images/gallery1.png" />
                            <div class="gallery-info">
                                <h4>I am very happy to say I DO.</h4>
                                <div class="social-buttons">
                                    <a href="#"><img src="images/facebook-small.png" /></a>
                                    <a href="#"><img src="images/twitter-small.png" /></a>
                                    <a href="#"><img src="images/google-small.png" /></a>
                                </div>
                                <div class="clr"></div>
                            </div>
                        </div>
                    </li>
                    <li class="toplisting">
                        <div class="toplisting-inner">
                            <img src="images/gallery2.png" />
                            <div class="gallery-info">
                                <h4>Lovely time spent together with family. Wont trade them .</h4>
                                <div class="social-buttons">
                                    <a href="#"><img src="images/facebook-small.png" /></a>
                                    <a href="#"><img src="images/twitter-small.png" /></a>
                                    <a href="#"><img src="images/google-small.png" /></a>
                                </div>
                                <div class="clr"></div>
                            </div>
                        </div>
                    </li>
                    <li class="toplisting">
                        <div class="toplisting-inner">
                            <img src="images/gallery3.png" />
                            <div class="gallery-info">
                                <h4>MTV award for best R&B artist. Na Baba God</h4>
                                <div class="social-buttons">
                                    <a href="#"><img src="images/facebook-small.png" /></a>
                                    <a href="#"><img src="images/twitter-small.png" /></a>
                                    <a href="#"><img src="images/google-small.png" /></a>
                                </div>
                                <div class="clr"></div>
                            </div>
                        </div>
                    </li>
                    <li class="toplisting">
                        <div class="toplisting-inner">
                            <img src="images/gallery1.png" />
                            <div class="gallery-info">
                                <h4>I am very happy to say I DO.</h4>
                                <div class="social-buttons">
                                    <a href="#"><img src="images/facebook-small.png" /></a>
                                    <a href="#"><img src="images/twitter-small.png" /></a>
                                    <a href="#"><img src="images/google-small.png" /></a>
                                </div>
                                <div class="clr"></div>
                            </div>
                        </div>
                    </li>
                    <li class="toplisting">
                        <div class="toplisting-inner">
                            <img src="images/gallery2.png" />
                            <div class="gallery-info">
                                <h4>Lovely time spent together with family. Wont trade them .</h4>
                                <div class="social-buttons">
                                    <a href="#"><img src="images/facebook-small.png" /></a>
                                    <a href="#"><img src="images/twitter-small.png" /></a>
                                    <a href="#"><img src="images/google-small.png" /></a>
                                </div>
                                <div class="clr"></div>
                            </div>
                        </div>
                    </li>
                    <li class="toplisting">
                        <div class="toplisting-inner">
                            <img src="images/gallery3.png" />
                            <div class="gallery-info">
                                <h4>MTV award for best R&B artist. Na Baba God</h4>
                                <div class="social-buttons">
                                    <a href="#"><img src="images/facebook-small.png" /></a>
                                    <a href="#"><img src="images/twitter-small.png" /></a>
                                    <a href="#"><img src="images/google-small.png" /></a>
                                </div>
                                <div class="clr"></div>
                            </div>
                        </div>
                    </li>
                    <li class="toplisting">
                        <div class="toplisting-inner">
                            <img src="images/gallery1.png" />
                            <div class="gallery-info">
                                <h4>I am very happy to say I DO.</h4>
                                <div class="social-buttons">
                                    <a href="#"><img src="images/facebook-small.png" /></a>
                                    <a href="#"><img src="images/twitter-small.png" /></a>
                                    <a href="#"><img src="images/google-small.png" /></a>
                                </div>
                                <div class="clr"></div>
                            </div>
                        </div>
                    </li>
                    <li class="toplisting">
                        <div class="toplisting-inner">
                            <img src="images/gallery2.png" />
                            <div class="gallery-info">
                                <h4>Lovely time spent together with family. Wont trade them .</h4>
                                <div class="social-buttons">
                                    <a href="#"><img src="images/facebook-small.png" /></a>
                                    <a href="#"><img src="images/twitter-small.png" /></a>
                                    <a href="#"><img src="images/google-small.png" /></a>
                                </div>
                                <div class="clr"></div>
                            </div>
                        </div>
                    </li>
                    <li class="toplisting">
                        <div class="toplisting-inner">
                            <img src="images/gallery3.png" />
                            <div class="gallery-info">
                                <h4>MTV award for best R&B artist. Na Baba God</h4>
                                <div class="social-buttons">
                                    <a href="#"><img src="images/facebook-small.png" /></a>
                                    <a href="#"><img src="images/twitter-small.png" /></a>
                                    <a href="#"><img src="images/google-small.png" /></a>
                                </div>
                                <div class="clr"></div>
                            </div>
                        </div>
                    </li>

                </ul>
                <!--topten-tab4END-->
                <div class="clr"></div>

                <h3>TOP FANS </h3>
                <!--topten-->
                <ul class="top-fans">
                    <li class="toplisting">
                        <div class="toplisting-inner">
                            <img src="images/fan1.png" />
                            <div class="fan-info">
                                <h4>Deborah Brown</h4><div class="flag"><img src="images/flag.png" /></div>
                                <div class="clr"></div>
                                <div class="up-down">1 <img src="images/up.png" />+5</div>
                                <div class="points">5330 Points</div>

                                <div class="clr"></div>
                            </div>
                        </div>
                    </li>
                    <li class="toplisting">
                        <div class="toplisting-inner">
                            <img src="images/fan2.png" />
                            <div class="fan-info">
                                <h4>Ikotun Kemisola</h4><div class="flag"><img src="images/flag.png" /></div>
                                <div class="clr"></div>
                                <div class="up-down">1 <img src="images/up.png" />+5</div>
                                <div class="points">5330 Points</div>

                                <div class="clr"></div>
                            </div>
                        </div>
                    </li>
                    <li class="toplisting">
                        <div class="toplisting-inner">
                            <img src="images/fan3.png" />
                            <div class="fan-info">
                                <h4>Oluwatobi Aikomo</h4><div class="flag"><img src="images/flag.png" /></div>
                                <div class="clr"></div>
                                <div class="up-down">1 <img src="images/down.png" />+5</div>
                                <div class="points">5330 Points</div>

                                <div class="clr"></div>
                            </div>
                        </div>
                    </li>
                    <li class="toplisting">
                        <div class="toplisting-inner">
                            <img src="images/fan4.png" />
                            <div class="fan-info">
                                <h4>Deborah Brown</h4><div class="flag"><img src="images/flag.png" /></div>
                                <div class="clr"></div>
                                <div class="up-down">1 <img src="images/up.png" />+5</div>
                                <div class="points">5330 Points</div>

                                <div class="clr"></div>
                            </div>
                        </div>
                    </li>
                    <li class="toplisting">
                        <div class="toplisting-inner">
                            <img src="images/fan5.png" />
                            <div class="fan-info">
                                <h4>Deborah Brown</h4><div class="flag"><img src="images/flag.png" /></div>
                                <div class="clr"></div>
                                <div class="up-down">1 <img src="images/up.png" />+5</div>
                                <div class="points">5330 Points</div>

                                <div class="clr"></div>
                            </div>
                        </div>
                    </li>
                    <li class="toplisting">
                        <div class="toplisting-inner">
                            <img src="images/fan6.png" />
                            <div class="fan-info">
                                <h4>Deborah Brown</h4><div class="flag"><img src="images/flag.png" /></div>
                                <div class="clr"></div>
                                <div class="up-down">1 <img src="images/down.png" />+5</div>
                                <div class="points">5330 Points</div>

                                <div class="clr"></div>
                            </div>
                        </div>
                    </li>

                </ul>


            </section>


            <div class="clr"></div>
        </div>
        <!--content-innerEND-->

    </section>
    <!--contentEND-->
    <div class="clr"></div>