@using System.Web.Optimization
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutNoJs.cshtml";
}
<div id="applicationHost">
    @Html.Partial("_splash")
</div>
        
<script type="text/javascript" src="~/Scripts/require.js" data-main="/App/main"></script>
