@{
    Layout = "~/Views/Shared/_LayoutNoJs.cshtml";
}
<!--content-->

<section id="content">

<!--content-inner-->
<div id="content-inner">

    <!--container-->

    <aside class="left-sidebar">

        <!--ariyatv-->
        <section id="main-video">
            <video width="393" height="221" id="multiCodec" poster="img/media-player/media-player-poster.jpg" controls="controls" preload="none" src="media/echo-hereweare.mp4" style="width: 100%; height: 100%;">
                <!-- id could be any according to you -->
                <!-- MP4 source must come first for iOS -->
                <source type="video/mp4" src="/media/echo-hereweare.mp4">
                <!-- WebM for Firefox 4 and Opera -->
                <source type="video/webm" src="/media/echo-hereweare.webm">
                <!-- OGG for Firefox 3 -->
                <source type="video/ogg" src="/media/echo-hereweare.ogv">
                <!-- Fallback flash player for no-HTML5 browsers with JavaScript turned off -->
                <object width="100%" height="100%" type="application/x-shockwave-flash" data="/media/flashmediaelement.swf">
                    <param name="movie" value="/media/flashmediaelement.swf">
                    <param name="flashvars" value="controls=true&amp;poster=img/media-player/media-player-poster.jpg&amp;file=media/echo-hereweare.mp4">
                    <!-- Image fall back for non-HTML5 browser with JavaScript turned off and no Flash player installed -->
                    <img src="/img/media-player/media-player-poster.jpg" width="100%" height="100%" alt="Media" title="No video playback capabilities">
                </object>
            </video>
            <div class="video-detail">
                <h2>Only Me <span>1,344,560</span></h2>
                <div class="vtitle">2Face Idibia</div>
            </div>

            <!--video-social-icon-->
            <div class="vidoe-socialicon">
                <ul>
                    <li>
                        <div class="addthis_toolbox addthis_32x32_style addthis-smartlayers at-share-tbx-element" data-url="domain.com" data-title="title">
                            <a class="addthis_button_facebook" style="cursor: pointer; display: inline-block"></a>
                            <a class="addthis_button_twitter" style="cursor: pointer; display: inline-block"></a>
                            <a class="addthis_button_google_plusone_share" style="cursor: pointer; display: inline-block"></a>
                        </div>
                    </li>
                    <li><a href="billing.html">
                        <img src="images/playnow-button.png" /></a></li>
                </ul>
            </div>
            <!--video-social-icon-->
        </section>
        <!--ariyatvEND-->
        <div class="clr"></div>
    </aside>
    <section id="container">
        <!--listing-wrapp-->
        <div class="listing-wrap listing-wrap-after-login" data-bind="foreach: sections">
            <h1 data-bind="text: Name">Related Videos</h1>
            <!--topten-->
            <ul class="home-listing" data-bind="foreach: List">
                <li class="toplisting">
                    <div class="toplisting-inner">
                        <img src="images/grass-grace.gif" data-bind="image: ThumbNailImagePath" style="width: 192px; height: 136px" />
                        <div class="artist-detials">
                            <h2 data-bind="text: Name"></h2>
                            <h4>Artist: 2face Idibia</h4>
                        </div>
                    </div>
                    <div class="social-buttons">
                        <ul>
                            <li>
                                <div class="addthis_toolbox addthis_20x20_style addthis-smartlayers at-share-tbx-element" data-url="domain.com" data-title="title">
                                    <a class="addthis_button_facebook" style="cursor: pointer"></a>
                                    <a class="addthis_button_twitter" style="cursor: pointer"></a>
                                    <a class="addthis_button_google_plusone_share" style="cursor: pointer"></a>
                                </div>
                            </li>
                            <li><a href="#" data-bind="details: '#'">
                                <img src="images/addtocart-btn.png" /></a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <!--listing-wrappEND-->

        <div class="clr"></div>

    </section>
    <!--containerEND-->
    <!--rightsidebar-->
    <!--rightsidebarEND-->
    <div class="clr"></div>
</div>
<!--content-innerEND-->

</section>
<!--contentEND-->
<div class="clr"></div>
<script type="text/javascript" src="~/Scripts/require.js" data-main="/App/detail"></script>
<script type="text/javascript" src="~/App/RequireConfig.js"></script>


