@{
    Layout = "~/Views/Shared/_LayoutNoJs.cshtml";
}

<!--content-->

<section id="content">

<!--content-inner-->
<div id="content-inner">

    <!--container-->

    <aside class="left-sidebar">

        <!--ariyatv-->
        <section id="main-video">
            <div id="mep_0" class="mejs-container svg mejs-video" style="width: 393px; height: 221px;">
                <div class="mejs-inner">
                    <div class="mejs-mediaelement">
                        <video width="393" height="221" id="multiCodec" poster="img/media-player/media-player-poster.jpg" preload="none" src="media/echohereweare.mp4" style="width: 100%; height: 100%;">
                            <!-- id could be any according to you -->
                            <!-- MP4 source must come first for iOS -->
                            <source type="video/mp4" src="media/echohereweare.mp4">
                            <!-- WebM for Firefox 4 and Opera -->
                            <source type="video/webm" src="media/echohereweare.webm">
                            <!-- OGG for Firefox 3 -->
                            <source type="video/ogg" src="media/echohereweare.ogv">
                            <!-- Fallback flash player for no-HTML5 browsers with JavaScript turned off -->
                            <object width="100%" height="100%" type="application/x-shockwave-flash" data="media/flashmediaelement.swf">
                                <param name="movie" value="media/flashmediaelement.swf">
                                <param name="flashvars" value="controls=true&amp;poster=img/media-player/media-player-poster.jpg&amp;file=media/echohereweare.mp4">
                                <!-- Image fall back for non-HTML5 browser with JavaScript turned off and no Flash player installed -->
                                <img src="img/media-player/media-player-poster.jpg" width="100%" height="100%" alt="Media" title="No video playback capabilities">
                            </object>
                        </video>
                    </div><div class="mejs-layers"><div class="mejs-poster mejs-layer" style="width: 100%; height: 100%; background-image: url(http://192.185.228.226/projects/sa/1-0-3/img/media-player/media-player-poster.jpg);"><img width="100%" height="100%" src="img/media-player/media-player-poster.jpg"></div><div class="mejs-overlay mejs-layer" style="display: none; width: 100%; height: 100%;"><div class="mejs-overlay-loading"><span></span></div></div><div class="mejs-overlay mejs-layer" style="display: none; width: 100%; height: 100%;"><div class="mejs-overlay-error"></div></div><div class="mejs-overlay mejs-layer mejs-overlay-play" style="width: 100%; height: 191px;"><div class="mejs-overlay-button" style="margin-top: -35px;"></div></div></div><div class="mejs-controls" style="display: block; visibility: hidden;"><div class="mejs-button mejs-playpause-button mejs-play"><button type="button" aria-controls="mep_0" title="Play/Pause" aria-label="Play/Pause"></button></div><div class="mejs-time mejs-currenttime-container"><span class="mejs-currenttime">00:00</span></div><div class="mejs-time-rail" style="width: 244px;"><span class="mejs-time-total" style="width: 234px;"><span class="mejs-time-buffering" style="display: none;"></span><span class="mejs-time-loaded"></span><span class="mejs-time-current"></span><span class="mejs-time-handle"></span><span class="mejs-time-float" style="display: none;"><span class="mejs-time-float-current">00:00</span><span class="mejs-time-float-corner"></span></span></span></div><div class="mejs-time mejs-duration-container"><span class="mejs-duration">00:00</span></div><div class="mejs-button mejs-volume-button mejs-mute"><button type="button" aria-controls="mep_0" title="Mute Toggle" aria-label="Mute Toggle"></button><div class="mejs-volume-slider" style="display: none;"><div class="mejs-volume-total"></div><div class="mejs-volume-current" style="height: 80px; top: 28px;"></div><div class="mejs-volume-handle" style="top: 25px;"></div></div></div><div class="mejs-button mejs-fullscreen-button"><button type="button" aria-controls="mep_0" title="Fullscreen" aria-label="Fullscreen"></button></div></div><div class="mejs-clear"></div>
                </div>
            </div>
            <div class="video-detail">
                <h2>Only Me <span>1,344,560</span></h2>
                <div class="vtitle">2Face Idibia</div>
            </div>

            <!--video-social-icon-->
            <div class="vidoe-socialicon">
                <ul>
                    <li><a href="#"><img src="images/video-fbicon.png" /></a></li>
                    <li><a href="#"><img src="images/video-twicon.png" /></a></li>
                    <li><a href="#"><img src="images/video-googleicon.png" /></a></li>
                    <li><a href="billing.html"><img src="images/playnow-button.png" /></a></li>
                </ul> 
            </div>
            <!--video-social-icon-->
        </section>
        <!--ariyatvEND-->
        <div class="clr"></div>
    </aside>
    <section id="container">
        <!--listing-wrapp-->
        <div class="listing-wrap listing-wrap-after-login" data-bind="foreach: sections">
            <h1 data-bind="text: Name">Related Videos</h1>
            <!--topten-->
            <ul class="home-listing" data-bind="foreach: List">
                <li class="toplisting">
                    <div class="toplisting-inner">
                        <img src="images/grass-grace.gif" data-bind="image: ThumbNailImagePath" style="width: 192px; height: 136px" />
                        <div class="artist-detials">
                            <h2 data-bind="text: Name"></h2>
                            <h4>Artist: 2face Idibia</h4>
                        </div>
                    </div>
                    <div class="social-buttons">
                        <ul>
                            <li>
                                <div class="addthis_toolbox addthis_20x20_style addthis-smartlayers at-share-tbx-element" data-url="domain.com" data-title="title">
                                    <a class="addthis_button_facebook" style="cursor: pointer"></a>
                                    <a class="addthis_button_twitter" style="cursor: pointer"></a>
                                    <a class="addthis_button_google_plusone_share" style="cursor: pointer"></a>
                                </div>
                            </li>
                            <li><a href="#detail/1">
                                <img src="images/addtocart-btn.png" /></a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <!--listing-wrappEND-->

        <div class="clr"></div>

    </section>
    <!--containerEND-->
    <!--rightsidebar-->
    <!--rightsidebarEND-->
    <div class="clr"></div>
</div>
<!--content-innerEND-->

</section>
<!--contentEND-->
<div class="clr"></div>
<script type="text/javascript" src="~/Scripts/require.js" data-main="/App/detail"></script>

