<!--content-->
<div id="detail-page">
<section id="content">

    <!--content-inner-->
    <div id="content-inner">

        <!--container-->

        <aside class="left-sidebar">

            <!--ariyatv-->
            <section id="main-video">
                <img src="images/artist-video.png" />
                <div class="video-detail">
                    <h2>Only Me <span>1,344,560</span></h2>
                    <div class="vtitle">2Face Idibia</div>
                </div>

                <!--video-social-icon-->
                <div class="vidoe-socialicon">
                    <ul>
                        <li><a href="#">
                            <img src="images/video-fbicon.png" /></a></li>
                        <li><a href="#">
                            <img src="images/video-twicon.png" /></a></li>
                        <li><a href="#">
                            <img src="images/video-googleicon.png" /></a></li>
                        <li><a href="billing.html">
                            <img src="images/playnow-button.png" /></a></li>
                    </ul>
                </div>
                <!--video-social-icon-->
            </section>
            <!--ariyatvEND-->
            <div class="clr"></div>
        </aside>
        <section id="container">
            <!--listing-wrapp-->
            <div class="listing-wrap listing-wrap-after-login" data-bind="bxSlider: { minSlides: 4, maxSlides: 4, controls: false, moveSlides: 4, slideWidth: 192, slideMargin: 10 }, target: '.home-listing'">
                <br />
                <h1>Related Videos</h1>
                <!--topten-->
                <ul class="home-listing2">
                    <li class="toplisting">
                        <div class="toplisting-inner">
                            <img src="images/onlyme.gif" />
                            <div class="artist-info">
                                <h2>Only Me</h2>
                                <span class="info-digit" id="info-digit">1,344,560</span>
                                <h4>2Face Idibia</h4>

                            </div>
                        </div>
                        <div class="social-buttons">
                            <!-- Go to www.addthis.com/dashboard to customize your tools -->

                            <ul>
                                <li>
                                    <div class="addthis_sharing_toolbox" data-url="THE URL" data-title="THE TITLE"></div>
                                </li>
                                <li class="detail"><a href="#">
                                    <img src="images/addtocart-btn.png" /></a></li>

                            </ul>
                        </div>

                    </li>
                    <!--toptenEND-->
                    <!--topten-tab2-->
                    <li class="toplisting">
                        <div class="toplisting-inner">
                            <img src="images/kindofgirl.gif" />
                            <div class="artist-info">
                                <h2>Mandela</h2>
                                <span class="info-digit" id="Span1">1,344,560</span>
                                <h4>2Face Idibia</h4>
                            </div>
                        </div>
                        <div class="social-buttons">
                            <ul>
                                <li>
                                    <div class="addthis_sharing_toolbox" data-url="THE URL" data-title="THE TITLE"></div>
                                </li>
                                <li><a href="#">
                                    <img src="images/addtocart-btn.png" /></a></li>

                            </ul>
                        </div>

                    </li>
                    <!--topten-tab2END-->
                    <!--topten-tab3-->
                    <li class="toplisting">
                        <div class="toplisting-inner">
                            <img src="images/Ascension.gif" />
                            <div class="artist-info">
                                <h2>The Ascension</h2>
                                <span class="info-digit" id="Span2">1,344,560</span>
                                <h4>2Face Idibia</h4>
                            </div>
                        </div>
                        <div class="social-buttons">
                            <ul>
                                <li>
                                    <div class="addthis_sharing_toolbox" data-url="THE URL" data-title="THE TITLE"></div>
                                </li>
                                <li><a href="#">
                                    <img src="images/addtocart-btn.png" /></a></li>

                            </ul>
                        </div>

                    </li>
                    <!--topten-tab3END-->
                    <!--topten-tab4-->
                    <li class="toplisting">
                        <div class="toplisting-inner">
                            <img src="images/onlyme.gif" /><span class="info-digit" id="Span3">1,344,560</span>
                            <div class="artist-info">
                                <h2>Only Me</h2>
                                <h4>2Face Idibia</h4>
                            </div>
                        </div>
                        <div class="social-buttons">
                            <ul>
                                <li>
                                    <div class="addthis_sharing_toolbox" data-url="THE URL" data-title="THE TITLE"></div>
                                </li>
                                <li><a href="#">
                                    <img src="images/addtocart-btn.png" /></a></li>

                            </ul>
                        </div>

                    </li>

                    <li class="toplisting">
                        <div class="toplisting-inner">
                            <img src="images/kindofgirl.gif" />
                            <div class="artist-info">
                                <h2>Grass to Grace</h2>
                                <span class="info-digit" id="Span4">1,344,560</span>
                                <h4>Artist: 2face Idibia</h4>
                            </div>
                        </div>
                        <div class="social-buttons">
                            <ul>
                                <li>
                                    <div class="addthis_sharing_toolbox" data-url="THE URL" data-title="THE TITLE"></div>
                                </li>
                                <li><a href="#">
                                    <img src="images/addtocart-btn.png" /></a></li>

                            </ul>
                        </div>

                    </li>
                    <!--toptenEND-->
                </ul>
                <!--topten-tab4END-->
            </div>
            <!--listing-wrapp-->
            <div class="listing-wrap listing-wrap-after-login" data-bind="foreach: sections">
                <h1 data-bind="text: Name">Related Videos</h1>
                <!--topten-->
                <ul class="home-listing" data-bind="foreach: List">
                    <li class="toplisting">
                        <div class="toplisting-inner">
                            <img src="images/grass-grace.gif" data-bind="image: ThumbNailImagePath" style="width: 192px; height: 136px" />
                            <div class="artist-detials">
                                <h2 data-bind="text: Name"></h2>
                                <h4>Artist: 2face Idibia</h4>
                            </div>
                        </div>
                        <div class="social-buttons">
                            <ul>
                                <li>
                                    <div class="addthis_toolbox addthis_20x20_style addthis-smartlayers at-share-tbx-element" data-url="domain.com" data-title="title">
                                        <a class="addthis_button_facebook" style="cursor: pointer"></a>
                                        <a class="addthis_button_twitter" style="cursor: pointer"></a>
                                        <a class="addthis_button_google_plusone_share" style="cursor: pointer"></a>
                                    </div>
                                </li>
                                <li><a href="#detail/1">
                                    <img src="images/addtocart-btn.png" /></a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <!--listing-wrappEND-->

            <div class="clr"></div>

        </section>
        <!--containerEND-->
        <!--rightsidebar-->
        <!--rightsidebarEND-->
        <div class="clr"></div>
    </div>
    <!--content-innerEND-->

</section>
<!--contentEND-->
<div class="clr"></div>
</div>
