@using ProjectConakry.DomainObjects
@model News

@{
    ViewBag.Title = "Ariya | News";
    Layout = "~/Views/Shared/_LayoutNoJs.cshtml";
}

<style>
    .main .title {
        padding-top: 24px;
        font-size: 2rem;
        color: #004505;
    }

    .main p {
        padding-bottom: 9px;
        font-size: 1rem;
        line-height: 1.25rem;
    }

        .main p:first-of-type {
            font-weight: 600;
            font-size: 1.125rem;
            line-height: 1.35rem;
            padding-top: 6px;
        }

            .main p:first-of-type:first-letter {
                float: left;
                color: #107A0D;
                font-size: 4.25rem;
                line-height: 1rem;
                padding: 21px 5px 8px 0;
            }
</style>

<link rel="stylesheet" type="text/css" href="~/css/customcss/news.css">

    <div class="wrapper">
        <section>
            <article class="main">
                <h1 class="title"> @Model.Caption</h1>
                <h3 class="author"> Story by: Ariya News Crew </h3>
                <div class="article-img">
                    <img src="@Model.ImagePath" alt="" width="100%" height="auto">
                    <h4 class="caption">@Model.Caption </h4>
                </div>
                <p>
                    @Html.Raw(Model.Text)
                </p>
            </article>
            <article class="rel">
                <h2> Related News </h2>
                @*<ul>
                    <li><a href="#"> I met Niyola in a bathroom- Banky W </a></li>
                    <li><a href="#"> I met Niyola in a bathroom- Banky W </a></li>
                    <li><a href="#"> I met Niyola in a bathroom- Banky W </a></li>
                    <li><a href="#"> I met Niyola in a bathroom- Banky W </a></li>
                    <li><a href="#"> I met Niyola in a bathroom- Banky W </a></li>
                </ul>*@
            </article>
        </section>
        @*<aside>
            <div class="ad1"></div>
            <div class="ad2"></div>
        </aside>*@
    </div>

