
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPrelogIn.cshtml";
}

<script type="text/javascript">

    $(document).ready(function () {

        $('#dob').datepicker();
        $(document).tooltip();
        $('#email').blur(function () {
            $('#emailAsycCheck').removeClass("alert alert-danger registration-error email-available");
            $.ajax({
                url: "/Registration/CheckEmailExist",
                data: {email : $(this).val()},
                datatype: "json",
                method: "POST",
                success: function (data) {
                    if(data)
                    {
                        $('#emailAsycCheck').html('Your Email is already in use.');
                        $('#emailAsycCheck').addClass("alert alert-danger registration-error");
                    }
                    else
                    {
                        $('#emailAsycCheck').html('This Email is available.');
                        $('#emailAsycCheck').addClass("email-available");

                    }
                },
                error: function (err) {
                    $('#emailAsycCheck').html('There was an error validating your email. Please Try again.');
                    $('#emailAsycCheck').addClass("alert alert-danger registration-error");
                }
            });
        });
    });

</script>
    <!--header-wrapEND-->
    <div class="clr"></div>
    <!--content-->
    <section id="signupcontent">

        <!--content-inner-->
        <div id="content-inner">

            <form action="Register" method="POST">
                <section id="signup-form">
                    <h1>SIGNUP</h1>
                            <div class="signup-form-content">
                            <div class="form-field"><input type="text" placeholder="First Name" name="firstname" /></div>
                            <div class="form-field"><input type="text" placeholder="Last Name" name="lastname" /></div>
                            <div class="form-field"><input type="email" placeholder="Email" name="email" id="email"/></div>
                            <div><span id="emailAsycCheck" class="alert alert-danger"></span></div>
                            <div class="form-field"><input type="password" placeholder="Password" name="password" /></div>
                            <div class="form-field">
                                <label>Gender</label>
                                <span class="select-container">
                                    <select name="gender">
                                        <option>Male</option>
                                        <option>Female</option>
                                    </select>
                                </span>
                            </div>
                            <div class="form-field">
                                <label>Birthday</label>
                                <input id="dob" type="text" placeholder="mm/dd/yy" name="dob" style="width: 110px !important" />
                            </div>
                            <div class="form-field">
                                <label>Account</label>
                                <span class="select-container">
                                    <select name="accounttype">
                                        <option>USER</option>
                                        <option>ACT</option>
                                    </select>
                                </span><span class="what-is"><a href="#" title="An ACT is an artist who wants to publish content.">What's this?</a></span>
                            </div>
                            <div class="form-field">
                                <label>&nbsp;</label>
                                <input type="checkbox" name="agreeToTos" value="1" checked="checked" /><span>I agree with ariya’s Terms and Conditions</span>
                            </div>
                            <div class="form-field"><label>&nbsp;</label> <input type="submit" value="Sign Up" name="submit" /></div>

                            <div class="form-field">
                                <label>&nbsp;</label>
                                <span>Already have an account? <a href="/LogIn/Index">Log In</a></span>
                                <div><span id="errorSpan" class="alert alert-danger" style="color: red !important">@ViewBag.Error</span></div>
                            </div>
                            <div class="clr"></div>

                        </div>          
                </section>
            </form>
            <!--rightsidebarEND-->
        </div>
        <!--content-innerEND-->
        <div class="clr"></div>
    </section>
    <!--contentEND-->
    <div class="clr"></div>
   
