@{
    ViewBag.Title = "Thank You";
    Layout = "~/Views/Shared/_LayoutPrelogIn.cshtml";
}

<section class="container section clear">
    <div class="thankyou">
        <h1 class="light-gold-color">Thank You @ViewBag.FirstName</h1>
        <p class="dark-gold-color">Your entry has been submitted</p>
    </div>
</section>