@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutNoJs.cshtml";
}

<!--slider-->
<div id="slider-wrap">
    <div class="thumbs-block">
        <div class="addcallertunez">
            <!-- <img src="images/addcallertunez.png" /> -->
        </div>
        <div class="clr"></div>
        <div id="carousel-wrap">
            <ul id="carousel" class="top_slider roundabout-holder" data-bind="roundabout: ''">
                <li>
                    <img src="images/slide1.png" alt="image01">
                </li>
                <li>
                    <img src="images/slide2.png" alt="image02">
                </li>
                <li>
                    <img src="images/slide3.png" alt="image03">
                </li>
                <li>
                    <img src="images/slide4.png" alt="image04">
                </li>
                <li>
                    <img src="images/slide5.png" alt="image01">
                </li>
                <li>
                    <img src="images/slide6.png" alt="image01">
                </li>
                <li>
                    <img src="images/slide1.png" alt="image01">
                </li>
                <li>
                    <img src="images/slide2.png" alt="image01">
                </li>
                <li>
                    <img src="images/slide3.png" alt="image01">
                </li>
                <li>
                    <img src="images/slide4.png" alt="image01">
                </li>
            </ul>
        </div>
        <!--thumbsEND-->
    </div>
</div>
<!--sliderEND-->
<div class="clr"></div>
<!--header-wrapEND-->
<div class="clr"></div>

<!--content-->
<section id="content">

    <!--content-inner-->
    <div id="content-inner">

        <!--container-->
        <section id="container">
            <!--listing-wrapp-->
            <div class="listing-wrap" data-bind="foreach: sections">
                <div>
                    <h1 data-bind="text: Name">&nbsp;</h1>
                </div>
                <!--topten-->
                <ul class="home-listing" data-bind="foreach: List">
                    <li class="toplisting">
                        <div class="toplisting-inner">
                            <img src="images/grass-grace.gif" data-bind="image: ThumbNailImagePath" style="width: 192px; height: 136px" />
                            <div class="artist-detials">
                                <h2 data-bind="text: Name"></h2>
                                <h4>Artist: 2face Idibia</h4>
                            </div>
                        </div>
                        <div class="social-buttons">
                            <ul>
                                <li>
                                    <div class="addthis_toolbox addthis_20x20_style addthis-smartlayers at-share-tbx-element" data-url="domain.com" data-title="title" style="display: inline">
                                        <a class="addthis_button_facebook" style="cursor: pointer; display: inline-block"></a>
                                        <a class="addthis_button_twitter" style="cursor: pointer; display: inline-block"></a>
                                        <a class="addthis_button_google_plusone_share" style="cursor: pointer; display: inline-block"></a>
                                    </div>
                                </li>
                                <li><a href="#" data-bind="details: '#'">
                                    <img src="images/addtocart-btn.png" /></a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <section class="add2">
                <img src="images/add2.png" />
                width="795px;"></section>
        </section>

        <!--rightsidebar-->
        <aside data-bind="bxSlider: {}, target: '.sidebar-slider'">

            <!--ariyatv-->
            <section id="ariyatv">
                <img src="images/video-block.gif" />
                <div class="ariya-btn">
                    <img src="images/tv-icon.png" class="ariya-imgages" />
                    <h2>ariya TV</h2>
                    <img src="images/sound-icon.png" class="ariya-imgages2" />
                </div>
            </section>
            <!--ariyatvEND-->
            <div class="clr"></div>

            <!--news-->
            <section id="news" class="news-header">
                <h1>NEWS</h1>
                <div class="news-content">
                    <ul class="sidebar-slider" data-bind="foreach: newsSections">
                        <li>
                            <ul data-bind="foreach: List">
                                <li><a href="#" data-bind="text: Text"></a></li>
                                <br />
                            </ul>
                        </li>
                    </ul>
                </div>
            </section>
            <!--newsEND-->

            <!--event-->
            <section id="Section1" class="news-header">
                <h1>EVENT</h1>
                <div class="news-content">
                    <ul class="sidebar-slider" data-bind="foreach: eventsSections">
                        <li data-bind="foreach: List">
                            <div class="event-tab">
                                <div class="calander">
                                    <h2>Jan.</h2>
                                    <h5>31</h5>
                                </div>
                                <div class="event-text">
                                    <!-- ko text: EventName -->
                                    <!-- /ko -->
                                    Venue:
                                    <!-- ko text: Venue -->
                                    <!-- /ko -->
                                    , Lagos Time:    20.00 GMT Price:    $ 10.00
                                </div>
                                <div class="ticket-info-btn">
                                    <ul>
                                        <li><a href="#">Ticket</a></li>
                                        <li><a href="#" class="active">Info</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <!--eventEND-->
                </div>
            </section>
            <!--eventEND-->

            <!--lounge-->
            <section id="Section2" class="news-header">
                <h1>THE LOUNGE</h1>
                <div class="news-content">
                    <ul class="sidebar-slider" data-bind="foreach: loungeSections">
                        <li>
                            <ul data-bind="foreach: List">
                                <li><a href="#" data-bind="text: Text"></a></li>
                                <br />
                            </ul>
                        </li>
                    </ul>
                </div>
            </section>
            <!--loungeEND-->

        </aside>
        <!--rightsidebarEND-->
    </div>
</section>
<!--contentEND-->
<div class="clr"></div>
<script type="text/javascript" src="~/Scripts/require.js" data-main="/App/home"></script>

