@{
    ViewBag.Title = "Home Page";
}

<script src="http://ajax.aspnetcdn.com/ajax/knockout/knockout-2.2.1.js"></script>
  
        <!--slider-->
        <section id="slider-wrap">
            <section class="thumbs-block">
                <div class="addcallertunez"><img src="images/addcallertunez.png" /></div>
                <div class="clr"></div>
                <section id="dg-container" class="dg-container">
                    <div class="dg-wrapper">
                        <a href="#"><img src="images/slide1.png" alt="image01"></a>
                        <a href="#"><img src="images/slide2.png" alt="image01"></a>
                        <a href="#"><img src="images/slide3.png" alt="image01"></a>
                        <a href="#"><img src="images/slide4.png" alt="image01"></a>
                        <a href="#"><img src="images/slide5.png" alt="image01"></a>
                        <a href="#"><img src="images/slide6.png" alt="image01"></a>
                    </div>
                    <!--nav>
                        <span class="dg-prev">&lt;</span>
                        <span class="dg-next">&gt;</span>
                    </nav-->
                </section>

                <!--thumbsEND-->
            </section>
        </section>
        <!--sliderEND-->
        <div class="clr"></div>
    </section>
    <!--header-wrapEND-->
    <div class="clr"></div>



    <!--content-->
    <section id="content">

        <!--content-inner-->
        <div id="content-inner">

            <!--container-->
            <section id="container">
                <!--listing-wrapp-->
                <div class="listing-wrap">
                    <h1>TOP TEN</h1>
                    <!--topten-->
                    <ul class="home-listing">
                        <li class="toplisting">
                            <div class="toplisting-inner">
                                <img src="images/grass-grace.gif" />
                                <div class="artist-detials">
                                    <h2>Grass to Grace</h2>
                                    <h4>Artist: 2face Idibia</h4>
                                </div>
                            </div>
                            <div class="social-buttons">
                                <!-- Go to www.addthis.com/dashboard to customize your tools -->

                                <ul>
                                    <li><div class="addthis_sharing_toolbox" data-url="THE URL" data-title="THE TITLE"></div></li>
                                    <li><a href="detail.html "><img src="images/addtocart-btn.png" /></a></li>

                                </ul>
                            </div>

                        </li>
                        <!--toptenEND-->
                        <!--topten-tab2-->
                        <li class="toplisting">
                            <div class="toplisting-inner">
                                <img src="images/mandela.gif" />
                                <div class="artist-detials">
                                    <h2>Mandela</h2>
                                    <h4>Director: Idris Elba</h4>
                                </div>
                            </div>
                            <div class="social-buttons">
                                <ul>
                                    <li><div class="addthis_sharing_toolbox" data-url="THE URL" data-title="THE TITLE"></div></li>
                                    <li><a href="#"><img src="images/addtocart-btn.png" /></a></li>

                                </ul>
                            </div>

                        </li>
                        <!--topten-tab2END-->
                        <!--topten-tab3-->
                        <li class="toplisting">
                            <div class="toplisting-inner">
                                <img src="images/longwalk.gif" />
                                <div class="artist-detials">
                                    <h2>
                                        Long Walk to Freedom<br />
                                    </h2>
                                    <h4>Author: Nelson Mandela</h4>
                                </div>
                            </div>
                            <div class="social-buttons">
                                <ul>
                                    <li><div class="addthis_sharing_toolbox" data-url="THE URL" data-title="THE TITLE"></div></li>
                                    <li><a href="#"><img src="images/addtocart-btn.png" /></a></li>

                                </ul>
                            </div>

                        </li>
                        <!--topten-tab3END-->
                        <!--topten-tab4-->
                        <li class="toplisting">
                            <div class="toplisting-inner">
                                <img src="images/asa.gif" />
                                <div class="artist-detials">
                                    <h2>Beautiful Imperfection</h2>
                                    <h4>Artist: Asa</h4>
                                </div>
                            </div>
                            <div class="social-buttons">
                                <ul>
                                    <li><div class="addthis_sharing_toolbox" data-url="THE URL" data-title="THE TITLE"></div></li>
                                    <li><a href="#"><img src="images/addtocart-btn.png" /></a></li>

                                </ul>
                            </div>

                        </li>
                        <li class="toplisting">
                            <div class="toplisting-inner">
                                <img src="images/grass-grace.gif" />
                                <div class="artist-detials">
                                    <h2>Grass to Grace</h2>
                                    <h4>Artist: 2face Idibia</h4>
                                </div>
                            </div>
                            <div class="social-buttons">
                                <ul>
                                    <li><div class="addthis_sharing_toolbox" data-url="THE URL" data-title="THE TITLE"></div></li>
                                    <li><a href="#"><img src="images/addtocart-btn.png" /></a></li>

                                </ul>
                            </div>

                        </li>
                        <!--toptenEND-->
                        <!--topten-tab2-->
                        <li class="toplisting">
                            <div class="toplisting-inner">
                                <img src="images/mandela.gif" />
                                <div class="artist-detials">
                                    <h2>Mandela</h2>
                                    <h4>Director: Idris Elba</h4>
                                </div>
                            </div>
                            <div class="social-buttons">
                                <ul>
                                    <li><div class="addthis_sharing_toolbox" data-url="THE URL" data-title="THE TITLE"></div></li>
                                    <li><a href="#"><img src="images/addtocart-btn.png" /></a></li>

                                </ul>
                            </div>

                        </li>
                        <!--topten-tab2END-->
                        <!--topten-tab3-->
                        <li class="toplisting">
                            <div class="toplisting-inner">
                                <img src="images/longwalk.gif" />
                                <div class="artist-detials">
                                    <h2>
                                        Long Walk to Freedom<br />
                                    </h2>
                                    <h4>Author: Nelson Mandela</h4>
                                </div>
                            </div>
                            <div class="social-buttons">
                                <ul>
                                    <li><div class="addthis_sharing_toolbox" data-url="THE URL" data-title="THE TITLE"></div></li>
                                    <li><a href="#"><img src="images/addtocart-btn.png" /></a></li>

                                </ul>
                            </div>

                        </li>
                        <!--topten-tab3END-->
                        <!--topten-tab4-->
                        <li class="toplisting">
                            <div class="toplisting-inner">
                                <img src="images/asa.gif" />
                                <div class="artist-detials">
                                    <h2>Beautiful Imperfection</h2>
                                    <h4>Artist: Asa</h4>
                                </div>
                            </div>
                            <div class="social-buttons">
                                <ul>
                                    <li><div class="addthis_sharing_toolbox" data-url="THE URL" data-title="THE TITLE"></div></li>
                                    <li><a href="#"><img src="images/addtocart-btn.png" /></a></li>

                                </ul>
                            </div>

                        </li>

                        <li class="toplisting">
                            <div class="toplisting-inner">
                                <img src="images/grass-grace.gif" />
                                <div class="artist-detials">
                                    <h2>Grass to Grace</h2>
                                    <h4>Artist: 2face Idibia</h4>
                                </div>
                            </div>
                            <div class="social-buttons">
                                <ul>
                                    <li><div class="addthis_sharing_toolbox" data-url="THE URL" data-title="THE TITLE"></div></li>
                                    <li><a href="#"><img src="images/addtocart-btn.png" /></a></li>

                                </ul>
                            </div>

                        </li>
                        <!--toptenEND-->
                        <!--topten-tab2-->
                        <li class="toplisting">
                            <div class="toplisting-inner">
                                <img src="images/mandela.gif" />
                                <div class="artist-detials">
                                    <h2>Mandela</h2>
                                    <h4>Director: Idris Elba</h4>
                                </div>
                            </div>
                            <div class="social-buttons">
                                <ul>
                                    <li><div class="addthis_sharing_toolbox" data-url="THE URL" data-title="THE TITLE"></div></li>
                                    <li><a href="#"><img src="images/addtocart-btn.png" /></a></li>

                                </ul>
                            </div>

                        </li>
                        <!--topten-tab2END-->
                        <!--topten-tab3-->
                        <li class="toplisting">
                            <div class="toplisting-inner">
                                <img src="images/longwalk.gif" />
                                <div class="artist-detials">
                                    <h2>
                                        Long Walk to Freedom<br />
                                    </h2>
                                    <h4>Author: Nelson Mandela</h4>
                                </div>
                            </div>
                            <div class="social-buttons">
                                <ul>
                                    <li><div class="addthis_sharing_toolbox" data-url="THE URL" data-title="THE TITLE"></div></li>
                                    <li><a href="#"><img src="images/addtocart-btn.png" /></a></li>

                                </ul>
                            </div>

                        </li>
                        <!--topten-tab3END-->
                        <!--topten-tab4-->
                        <li class="toplisting">
                            <div class="toplisting-inner">
                                <img src="images/asa.gif" />
                                <div class="artist-detials">
                                    <h2>Beautiful Imperfection</h2>
                                    <h4>Artist: Asa</h4>
                                </div>
                            </div>
                            <div class="social-buttons">
                                <ul>
                                    <li><div class="addthis_sharing_toolbox" data-url="THE URL" data-title="THE TITLE"></div></li>
                                    <li><a href="#"><img src="images/addtocart-btn.png" /></a></li>

                                </ul>
                            </div>

                        </li>

                        <li class="toplisting">
                            <div class="toplisting-inner">
                                <img src="images/grass-grace.gif" />
                                <div class="artist-detials">
                                    <h2>Grass to Grace</h2>
                                    <h4>Artist: 2face Idibia</h4>
                                </div>
                            </div>
                            <div class="social-buttons">
                                <ul>
                                    <li><div class="addthis_sharing_toolbox" data-url="THE URL" data-title="THE TITLE"></div></li>
                                    <li><a href="#"><img src="images/addtocart-btn.png" /></a></li>

                                </ul>
                            </div>

                        </li>
                        <!--toptenEND-->
                        <!--topten-tab2-->
                        <li class="toplisting">
                            <div class="toplisting-inner">
                                <img src="images/mandela.gif" />
                                <div class="artist-detials">
                                    <h2>Mandela</h2>
                                    <h4>Director: Idris Elba</h4>
                                </div>
                            </div>
                            <div class="social-buttons">
                                <ul>
                                    <li><div class="addthis_sharing_toolbox" data-url="THE URL" data-title="THE TITLE"></div></li>
                                    <li><a href="#"><img src="images/addtocart-btn.png" /></a></li>

                                </ul>
                            </div>

                        </li>
                        <!--topten-tab2END-->
                        <!--topten-tab3-->
                        <li class="toplisting">
                            <div class="toplisting-inner">
                                <img src="images/longwalk.gif" />
                                <div class="artist-detials">
                                    <h2>
                                        Long Walk to Freedom<br />
                                    </h2>
                                    <h4>Author: Nelson Mandela</h4>
                                </div>
                            </div>
                            <div class="social-buttons">
                                <ul>
                                    <li><div class="addthis_sharing_toolbox" data-url="THE URL" data-title="THE TITLE"></div></li>
                                    <li><a href="#"><img src="images/addtocart-btn.png" /></a></li>

                                </ul>
                            </div>

                        </li>
                        <!--topten-tab3END-->
                        <!--topten-tab4-->
                        <li class="toplisting">
                            <div class="toplisting-inner">
                                <img src="images/asa.gif" />
                                <div class="artist-detials">
                                    <h2>Beautiful Imperfection</h2>
                                    <h4>Artist: Asa</h4>
                                </div>
                            </div>
                            <div class="social-buttons">
                                <ul>
                                    <li><div class="addthis_sharing_toolbox" data-url="THE URL" data-title="THE TITLE"></div></li>
                                    <li><a href="#"><img src="images/addtocart-btn.png" /></a></li>

                                </ul>
                            </div>

                        </li>
                    </ul>
                    <!--topten-tab4END-->


                </div>
                <!--listing-wrappEND-->

                <div class="clr"></div>


                <!--listing-wrapp-->
                <div class="listing-wrap">
                    <h1>TRENDING</h1>
                    <!--topten-->
                    <ul class="home-listing">
                        <li class="toplisting">
                            <div class="toplisting-inner">
                                <img src="images/coupe.gif" />
                                <div class="artist-detials">
                                    <h2>Coupé Bibamba</h2>
                                    <h4>Artist: Awilo Longomba</h4>
                                </div>
                            </div>
                            <div class="social-buttons">
                                <ul>
                                    <li><div class="addthis_sharing_toolbox" data-url="THE URL" data-title="THE TITLE"></div></li>
                                    <li><a href="#"><img src="images/addtocart-btn.png" /></a></li>

                                </ul>
                            </div>

                        </li>
                        <!--toptenEND-->
                        <!--topten-tab2-->
                        <li class="toplisting">
                            <div class="toplisting-inner">
                                <img src="images/october1.gif" />
                                <div class="artist-detials">
                                    <h2>October 1</h2>
                                    <h4>Director: Kunle Afolayan</h4>
                                </div>
                            </div>
                            <div class="social-buttons">
                                <ul>
                                    <li><div class="addthis_sharing_toolbox" data-url="THE URL" data-title="THE TITLE"></div></li>
                                    <li><a href="#"><img src="images/addtocart-btn.png" /></a></li>

                                </ul>
                            </div>

                        </li>
                        <!--topten-tab2END-->
                        <!--topten-tab3-->
                        <li class="toplisting">
                            <div class="toplisting-inner">
                                <img src="images/maltina.gif" />
                                <div class="artist-detials">
                                    <h2>Maltina Dance All</h2>
                                    <h4>Organizer: Maltina</h4>
                                </div>
                            </div>
                            <div class="social-buttons">
                                <ul>
                                    <li><div class="addthis_sharing_toolbox" data-url="THE URL" data-title="THE TITLE"></div></li>
                                    <li><a href="#"><img src="images/addtocart-btn.png" /></a></li>

                                </ul>
                            </div>

                        </li>
                        <!--topten-tab3END-->
                        <!--topten-tab4-->
                        <li class="toplisting">
                            <div class="toplisting-inner">
                                <img src="images/africanchild.gif" />
                                <div class="artist-detials">
                                    <h2>The African Child</h2>
                                    <h4>Author: Camara Laye</h4>
                                </div>
                            </div>
                            <div class="social-buttons">
                                <ul>
                                    <li><div class="addthis_sharing_toolbox" data-url="THE URL" data-title="THE TITLE"></div></li>
                                    <li><a href="#"><img src="images/addtocart-btn.png" /></a></li>

                                </ul>
                            </div>

                        </li>

                        <li class="toplisting">
                            <div class="toplisting-inner">
                                <img src="images/coupe.gif" />
                                <div class="artist-detials">
                                    <h2>Coupé Bibamba</h2>
                                    <h4>Artist: Awilo Longomba</h4>
                                </div>
                            </div>
                            <div class="social-buttons">
                                <ul>
                                    <li><div class="addthis_sharing_toolbox" data-url="THE URL" data-title="THE TITLE"></div></li>
                                    <li><a href="#"><img src="images/addtocart-btn.png" /></a></li>

                                </ul>
                            </div>

                        </li>
                        <!--toptenEND-->
                        <!--topten-tab2-->
                        <li class="toplisting">
                            <div class="toplisting-inner">
                                <img src="images/october1.gif" />
                                <div class="artist-detials">
                                    <h2>October 1</h2>
                                    <h4>Director: Kunle Afolayan</h4>
                                </div>
                            </div>
                            <div class="social-buttons">
                                <ul>
                                    <li><div class="addthis_sharing_toolbox" data-url="THE URL" data-title="THE TITLE"></div></li>
                                    <li><a href="#"><img src="images/addtocart-btn.png" /></a></li>

                                </ul>
                            </div>

                        </li>
                        <!--topten-tab2END-->
                        <!--topten-tab3-->
                        <li class="toplisting">
                            <div class="toplisting-inner">
                                <img src="images/maltina.gif" />
                                <div class="artist-detials">
                                    <h2>Maltina Dance All</h2>
                                    <h4>Organizer: Maltina</h4>
                                </div>
                            </div>
                            <div class="social-buttons">
                                <ul>
                                    <li><div class="addthis_sharing_toolbox" data-url="THE URL" data-title="THE TITLE"></div></li>
                                    <li><a href="#"><img src="images/addtocart-btn.png" /></a></li>

                                </ul>
                            </div>

                        </li>
                        <!--topten-tab3END-->
                        <!--topten-tab4-->
                        <li class="toplisting">
                            <div class="toplisting-inner">
                                <img src="images/africanchild.gif" />
                                <div class="artist-detials">
                                    <h2>The African Child</h2>
                                    <h4>Author: Camara Laye</h4>
                                </div>
                            </div>
                            <div class="social-buttons">
                                <ul>
                                    <li><div class="addthis_sharing_toolbox" data-url="THE URL" data-title="THE TITLE"></div></li>
                                    <li><a href="#"><img src="images/addtocart-btn.png" /></a></li>

                                </ul>
                            </div>

                        </li>
                        <li class="toplisting">
                            <div class="toplisting-inner">
                                <img src="images/coupe.gif" />
                                <div class="artist-detials">
                                    <h2>Coupé Bibamba</h2>
                                    <h4>Artist: Awilo Longomba</h4>
                                </div>
                            </div>
                            <div class="social-buttons">
                                <ul>
                                    <li><div class="addthis_sharing_toolbox" data-url="THE URL" data-title="THE TITLE"></div></li>
                                    <li><a href="#"><img src="images/addtocart-btn.png" /></a></li>

                                </ul>
                            </div>

                        </li>
                        <!--toptenEND-->
                        <!--topten-tab2-->
                        <li class="toplisting">
                            <div class="toplisting-inner">
                                <img src="images/october1.gif" />
                                <div class="artist-detials">
                                    <h2>October 1</h2>
                                    <h4>Director: Kunle Afolayan</h4>
                                </div>
                            </div>
                            <div class="social-buttons">
                                <ul>
                                    <li><div class="addthis_sharing_toolbox" data-url="THE URL" data-title="THE TITLE"></div></li>
                                    <li><a href="#"><img src="images/addtocart-btn.png" /></a></li>

                                </ul>
                            </div>

                        </li>
                        <!--topten-tab2END-->
                        <!--topten-tab3-->
                        <li class="toplisting">
                            <div class="toplisting-inner">
                                <img src="images/maltina.gif" />
                                <div class="artist-detials">
                                    <h2>Maltina Dance All</h2>
                                    <h4>Organizer: Maltina</h4>
                                </div>
                            </div>
                            <div class="social-buttons">
                                <ul>
                                    <li><div class="addthis_sharing_toolbox" data-url="THE URL" data-title="THE TITLE"></div></li>
                                    <li><a href="#"><img src="images/addtocart-btn.png" /></a></li>

                                </ul>
                            </div>

                        </li>
                        <!--topten-tab3END-->
                        <!--topten-tab4-->
                        <li class="toplisting">
                            <div class="toplisting-inner">
                                <img src="images/africanchild.gif" />
                                <div class="artist-detials">
                                    <h2>The African Child</h2>
                                    <h4>Author: Camara Laye</h4>
                                </div>
                            </div>
                            <div class="social-buttons">
                                <ul>
                                    <li><div class="addthis_sharing_toolbox" data-url="THE URL" data-title="THE TITLE"></div></li>
                                    <li><a href="#"><img src="images/addtocart-btn.png" /></a></li>

                                </ul>
                            </div>

                        </li>
                        <li class="toplisting">
                            <div class="toplisting-inner">
                                <img src="images/coupe.gif" />
                                <div class="artist-detials">
                                    <h2>Coupé Bibamba</h2>
                                    <h4>Artist: Awilo Longomba</h4>
                                </div>
                            </div>
                            <div class="social-buttons">
                                <ul>
                                    <li><div class="addthis_sharing_toolbox" data-url="THE URL" data-title="THE TITLE"></div></li>
                                    <li><a href="#"><img src="images/addtocart-btn.png" /></a></li>

                                </ul>
                            </div>

                        </li>
                        <!--toptenEND-->
                        <!--topten-tab2-->
                        <li class="toplisting">
                            <div class="toplisting-inner">
                                <img src="images/october1.gif" />
                                <div class="artist-detials">
                                    <h2>October 1</h2>
                                    <h4>Director: Kunle Afolayan</h4>
                                </div>
                            </div>
                            <div class="social-buttons">
                                <ul>
                                    <li><div class="addthis_sharing_toolbox" data-url="THE URL" data-title="THE TITLE"></div></li>
                                    <li><a href="#"><img src="images/addtocart-btn.png" /></a></li>

                                </ul>
                            </div>

                        </li>
                        <!--topten-tab2END-->
                        <!--topten-tab3-->
                        <li class="toplisting">
                            <div class="toplisting-inner">
                                <img src="images/maltina.gif" />
                                <div class="artist-detials">
                                    <h2>Maltina Dance All</h2>
                                    <h4>Organizer: Maltina</h4>
                                </div>
                            </div>
                            <div class="social-buttons">
                                <ul>
                                    <li><div class="addthis_sharing_toolbox" data-url="THE URL" data-title="THE TITLE"></div></li>
                                    <li><a href="#"><img src="images/addtocart-btn.png" /></a></li>

                                </ul>
                            </div>

                        </li>
                        <!--topten-tab3END-->
                        <!--topten-tab4-->
                        <li class="toplisting">
                            <div class="toplisting-inner">
                                <img src="images/africanchild.gif" />
                                <div class="artist-detials">
                                    <h2>The African Child</h2>
                                    <h4>Author: Camara Laye</h4>
                                </div>
                            </div>
                            <div class="social-buttons">
                                <ul>
                                    <li><div class="addthis_sharing_toolbox" data-url="THE URL" data-title="THE TITLE"></div></li>
                                    <li><a href="#"><img src="images/addtocart-btn.png" /></a></li>

                                </ul>
                            </div>

                        </li>

                        <!--topten-tab4END-->
                    </ul>


                </div>
                <!--listing-wrappEND-->



                <div class="clr"></div>


                <!--listing-wrapp-->
                <div class="listing-wrap">
                    <h1>FEATURED</h1>
                    <!--topten-->
                    <ul class="home-listing">
                        <li class="toplisting">
                            <div class="toplisting-inner">
                                <img src="images/Thingsfall.gif" />
                                <div class="artist-detials">
                                    <h2>Things Fall Apart</h2>
                                    <h4>Author: Chinua Achebe</h4>
                                </div>
                            </div>
                            <div class="social-buttons">
                                <ul>
                                    <li><div class="addthis_sharing_toolbox" data-url="THE URL" data-title="THE TITLE"></div></li>
                                    <li><a href="#"><img src="images/addtocart-btn.png" /></a></li>

                                </ul>
                            </div>

                        </li>
                        <!--toptenEND-->
                        <!--topten-tab2-->
                        <li class="toplisting">
                            <div class="toplisting-inner">
                                <img src="images/TheStreet.gif" />
                                <div class="artist-detials">
                                    <h2>The Street</h2>
                                    <h4>Organiser: Alibaba</h4>
                                </div>
                            </div>
                            <div class="social-buttons">
                                <ul>
                                    <li><div class="addthis_sharing_toolbox" data-url="THE URL" data-title="THE TITLE"></div></li>
                                    <li><a href="#"><img src="images/addtocart-btn.png" /></a></li>

                                </ul>
                            </div>

                        </li>
                        <!--topten-tab2END-->
                        <!--topten-tab3-->
                        <li class="toplisting">
                            <div class="toplisting-inner">
                                <img src="images/200 Millio.gif" />
                                <div class="artist-detials">
                                    <h2>200 Million Mumu</h2>
                                    <h4>Artist: Lagbaja</h4>
                                </div>
                            </div>
                            <div class="social-buttons">
                                <ul>
                                    <li><div class="addthis_sharing_toolbox" data-url="THE URL" data-title="THE TITLE"></div></li>
                                    <li><a href="#"><img src="images/addtocart-btn.png" /></a></li>

                                </ul>
                            </div>

                        </li>
                        <!--topten-tab3END-->
                        <!--topten-tab4-->
                        <li class="toplisting">
                            <div class="toplisting-inner">
                                <img src="images/Beasts of No Natio.gif" />
                                <div class="artist-detials">
                                    <h2>Beasts of No Nation</h2>
                                    <h4>Artist: Fela Anikulapo Kuti</h4>
                                </div>
                            </div>
                            <div class="social-buttons">
                                <ul>
                                    <li><div class="addthis_sharing_toolbox" data-url="THE URL" data-title="THE TITLE"></div></li>
                                    <li><a href="#"><img src="images/addtocart-btn.png" /></a></li>

                                </ul>
                            </div>

                        </li>
                        <li class="toplisting">
                            <div class="toplisting-inner">
                                <img src="images/Thingsfall.gif" />
                                <div class="artist-detials">
                                    <h2>Things Fall Apart</h2>
                                    <h4>Author: Chinua Achebe</h4>
                                </div>
                            </div>
                            <div class="social-buttons">
                                <ul>
                                    <li><div class="addthis_sharing_toolbox" data-url="THE URL" data-title="THE TITLE"></div></li>
                                    <li><a href="#"><img src="images/addtocart-btn.png" /></a></li>

                                </ul>
                            </div>

                        </li>
                        <!--toptenEND-->
                        <!--topten-tab2-->
                        <li class="toplisting">
                            <div class="toplisting-inner">
                                <img src="images/TheStreet.gif" />
                                <div class="artist-detials">
                                    <h2>The Street</h2>
                                    <h4>Organiser: Alibaba</h4>
                                </div>
                            </div>
                            <div class="social-buttons">
                                <ul>
                                    <li><div class="addthis_sharing_toolbox" data-url="THE URL" data-title="THE TITLE"></div></li>
                                    <li><a href="#"><img src="images/addtocart-btn.png" /></a></li>

                                </ul>
                            </div>

                        </li>
                        <!--topten-tab2END-->
                        <!--topten-tab3-->
                        <li class="toplisting">
                            <div class="toplisting-inner">
                                <img src="images/200 Millio.gif" />
                                <div class="artist-detials">
                                    <h2>200 Million Mumu</h2>
                                    <h4>Artist: Lagbaja</h4>
                                </div>
                            </div>
                            <div class="social-buttons">
                                <ul>
                                    <li><div class="addthis_sharing_toolbox" data-url="THE URL" data-title="THE TITLE"></div></li>
                                    <li><a href="#"><img src="images/addtocart-btn.png" /></a></li>

                                </ul>
                            </div>

                        </li>
                        <!--topten-tab3END-->
                        <!--topten-tab4-->
                        <li class="toplisting">
                            <div class="toplisting-inner">
                                <img src="images/Beasts of No Natio.gif" />
                                <div class="artist-detials">
                                    <h2>Beasts of No Nation</h2>
                                    <h4>Artist: Fela Anikulapo Kuti</h4>
                                </div>
                            </div>
                            <div class="social-buttons">
                                <ul>
                                    <li><div class="addthis_sharing_toolbox" data-url="THE URL" data-title="THE TITLE"></div></li>
                                    <li><a href="#"><img src="images/addtocart-btn.png" /></a></li>

                                </ul>
                            </div>

                        </li>
                        <li class="toplisting">
                            <div class="toplisting-inner">
                                <img src="images/Thingsfall.gif" />
                                <div class="artist-detials">
                                    <h2>Things Fall Apart</h2>
                                    <h4>Author: Chinua Achebe</h4>
                                </div>
                            </div>
                            <div class="social-buttons">
                                <ul>
                                    <li><div class="addthis_sharing_toolbox" data-url="THE URL" data-title="THE TITLE"></div></li>
                                    <li><a href="#"><img src="images/addtocart-btn.png" /></a></li>

                                </ul>
                            </div>

                        </li>
                        <!--toptenEND-->
                        <!--topten-tab2-->
                        <li class="toplisting">
                            <div class="toplisting-inner">
                                <img src="images/TheStreet.gif" />
                                <div class="artist-detials">
                                    <h2>The Street</h2>
                                    <h4>Organiser: Alibaba</h4>
                                </div>
                            </div>
                            <div class="social-buttons">
                                <ul>
                                    <li><div class="addthis_sharing_toolbox" data-url="THE URL" data-title="THE TITLE"></div></li>
                                    <li><a href="#"><img src="images/addtocart-btn.png" /></a></li>

                                </ul>
                            </div>

                        </li>
                        <!--topten-tab2END-->
                        <!--topten-tab3-->
                        <li class="toplisting">
                            <div class="toplisting-inner">
                                <img src="images/200 Millio.gif" />
                                <div class="artist-detials">
                                    <h2>200 Million Mumu</h2>
                                    <h4>Artist: Lagbaja</h4>
                                </div>
                            </div>
                            <div class="social-buttons">
                                <ul>
                                    <li><div class="addthis_sharing_toolbox" data-url="THE URL" data-title="THE TITLE"></div></li>
                                    <li><a href="#"><img src="images/addtocart-btn.png" /></a></li>

                                </ul>
                            </div>

                        </li>
                        <!--topten-tab3END-->
                        <!--topten-tab4-->
                        <li class="toplisting">
                            <div class="toplisting-inner">
                                <img src="images/Beasts of No Natio.gif" />
                                <div class="artist-detials">
                                    <h2>Beasts of No Nation</h2>
                                    <h4>Artist: Fela Anikulapo Kuti</h4>
                                </div>
                            </div>
                            <div class="social-buttons">
                                <ul>
                                    <li><div class="addthis_sharing_toolbox" data-url="THE URL" data-title="THE TITLE"></div></li>
                                    <li><a href="#"><img src="images/addtocart-btn.png" /></a></li>

                                </ul>
                            </div>

                        </li>
                        <li class="toplisting">
                            <div class="toplisting-inner">
                                <img src="images/Thingsfall.gif" />
                                <div class="artist-detials">
                                    <h2>Things Fall Apart</h2>
                                    <h4>Author: Chinua Achebe</h4>
                                </div>
                            </div>
                            <div class="social-buttons">
                                <ul>
                                    <li><div class="addthis_sharing_toolbox" data-url="THE URL" data-title="THE TITLE"></div></li>
                                    <li><a href="#"><img src="images/addtocart-btn.png" /></a></li>

                                </ul>
                            </div>

                        </li>
                        <!--toptenEND-->
                        <!--topten-tab2-->
                        <li class="toplisting">
                            <div class="toplisting-inner">
                                <img src="images/TheStreet.gif" />
                                <div class="artist-detials">
                                    <h2>The Street</h2>
                                    <h4>Organiser: Alibaba</h4>
                                </div>
                            </div>
                            <div class="social-buttons">
                                <ul>
                                    <li><div class="addthis_sharing_toolbox" data-url="THE URL" data-title="THE TITLE"></div></li>
                                    <li><a href="#"><img src="images/addtocart-btn.png" /></a></li>

                                </ul>
                            </div>

                        </li>
                        <!--topten-tab2END-->
                        <!--topten-tab3-->
                        <li class="toplisting">
                            <div class="toplisting-inner">
                                <img src="images/200 Millio.gif" />
                                <div class="artist-detials">
                                    <h2>200 Million Mumu</h2>
                                    <h4>Artist: Lagbaja</h4>
                                </div>
                            </div>
                            <div class="social-buttons">
                                <ul>
                                    <li><div class="addthis_sharing_toolbox" data-url="THE URL" data-title="THE TITLE"></div></li>
                                    <li><a href="#"><img src="images/addtocart-btn.png" /></a></li>

                                </ul>
                            </div>

                        </li>
                        <!--topten-tab3END-->
                        <!--topten-tab4-->
                        <li class="toplisting">
                            <div class="toplisting-inner">
                                <img src="images/Beasts of No Natio.gif" />
                                <div class="artist-detials">
                                    <h2>Beasts of No Nation</h2>
                                    <h4>Artist: Fela Anikulapo Kuti</h4>
                                </div>
                            </div>
                            <div class="social-buttons">
                                <ul>
                                    <li><div class="addthis_sharing_toolbox" data-url="THE URL" data-title="THE TITLE"></div></li>
                                    <li><a href="#"><img src="images/addtocart-btn.png" /></a></li>

                                </ul>
                            </div>

                        </li>
                    </ul>
                    <!--topten-tab4END-->


                </div>
                <!--listing-wrappEND-->


                <div class="clr"></div>


                <!--listing-wrapp-->
                <div class="listing-wrap">
                    <h1>New Releases</h1>
                    <!--topten-->
                    <ul class="home-listing">
                        <li class="toplisting">
                            <div class="toplisting-inner">
                                <img src="images/dairy.gif" />
                                <div class="artist-detials">
                                    <h2>Diary</h2>
                                    <h4>Artist: Seriki</h4>
                                </div>
                            </div>
                            <div class="social-buttons">
                                <ul>
                                    <li><div class="addthis_sharing_toolbox" data-url="THE URL" data-title="THE TITLE"></div></li>
                                    <li><a href="#"><img src="images/addtocart-btn.png" /></a></li>

                                </ul>
                            </div>

                        </li>
                        <!--toptenEND-->
                        <!--topten-tab2-->
                        <li class="toplisting">
                            <div class="toplisting-inner">
                                <img src="images/Alaga Ibile.gif" />
                                <div class="artist-detials">
                                    <h2>Alaga Ibile</h2>
                                    <h4>Artist: Reminisce</h4>
                                </div>
                            </div>
                            <div class="social-buttons">
                                <ul>
                                    <li><div class="addthis_sharing_toolbox" data-url="THE URL" data-title="THE TITLE"></div></li>
                                    <li><a href="#"><img src="images/addtocart-btn.png" /></a></li>

                                </ul>
                            </div>

                        </li>
                        <!--topten-tab2END-->
                        <!--topten-tab3-->
                        <li class="toplisting">
                            <div class="toplisting-inner">
                                <img src="images/Kele Kele Love.gif" />
                                <div class="artist-detials">
                                    <h2>Kele Kele Love</h2>
                                    <h4>Artist: Tiwa Savage</h4>
                                </div>
                            </div>
                            <div class="social-buttons">
                                <ul>
                                    <li><div class="addthis_sharing_toolbox" data-url="THE URL" data-title="THE TITLE"></div></li>
                                    <li><a href="#"><img src="images/addtocart-btn.png" /></a></li>

                                </ul>
                            </div>

                        </li>
                        <!--topten-tab3END-->
                        <!--topten-tab4-->
                        <li class="toplisting">
                            <div class="toplisting-inner">
                                <img src="images/Pakurumo.gif" />
                                <div class="artist-detials">
                                    <h2>Pakurumo</h2>
                                    <h4>Artist: Wizkid</h4>
                                </div>
                            </div>
                            <div class="social-buttons">
                                <ul>
                                    <li><div class="addthis_sharing_toolbox" data-url="THE URL" data-title="THE TITLE"></div></li>
                                    <li><a href="#"><img src="images/addtocart-btn.png" /></a></li>

                                </ul>
                            </div>

                        </li>
                        <li class="toplisting">
                            <div class="toplisting-inner">
                                <img src="images/dairy.gif" />
                                <div class="artist-detials">
                                    <h2>Diary</h2>
                                    <h4>Artist: Seriki</h4>
                                </div>
                            </div>
                            <div class="social-buttons">
                                <ul>
                                    <li><div class="addthis_sharing_toolbox" data-url="THE URL" data-title="THE TITLE"></div></li>
                                    <li><a href="#"><img src="images/addtocart-btn.png" /></a></li>

                                </ul>
                            </div>

                        </li>
                        <!--toptenEND-->
                        <!--topten-tab2-->
                        <li class="toplisting">
                            <div class="toplisting-inner">
                                <img src="images/Alaga Ibile.gif" />
                                <div class="artist-detials">
                                    <h2>Alaga Ibile</h2>
                                    <h4>Artist: Reminisce</h4>
                                </div>
                            </div>
                            <div class="social-buttons">
                                <ul>
                                    <li><div class="addthis_sharing_toolbox" data-url="THE URL" data-title="THE TITLE"></div></li>
                                    <li><a href="#"><img src="images/addtocart-btn.png" /></a></li>

                                </ul>
                            </div>

                        </li>
                        <!--topten-tab2END-->
                        <!--topten-tab3-->
                        <li class="toplisting">
                            <div class="toplisting-inner">
                                <img src="images/Kele Kele Love.gif" />
                                <div class="artist-detials">
                                    <h2>Kele Kele Love</h2>
                                    <h4>Artist: Tiwa Savage</h4>
                                </div>
                            </div>
                            <div class="social-buttons">
                                <ul>
                                    <li><div class="addthis_sharing_toolbox" data-url="THE URL" data-title="THE TITLE"></div></li>
                                    <li><a href="#"><img src="images/addtocart-btn.png" /></a></li>

                                </ul>
                            </div>

                        </li>
                        <!--topten-tab3END-->
                        <!--topten-tab4-->
                        <li class="toplisting">
                            <div class="toplisting-inner">
                                <img src="images/Pakurumo.gif" />
                                <div class="artist-detials">
                                    <h2>Pakurumo</h2>
                                    <h4>Artist: Wizkid</h4>
                                </div>
                            </div>
                            <div class="social-buttons">
                                <ul>
                                    <li><div class="addthis_sharing_toolbox" data-url="THE URL" data-title="THE TITLE"></div></li>
                                    <li><a href="#"><img src="images/addtocart-btn.png" /></a></li>

                                </ul>
                            </div>

                        </li>
                        <li class="toplisting">
                            <div class="toplisting-inner">
                                <img src="images/dairy.gif" />
                                <div class="artist-detials">
                                    <h2>Diary</h2>
                                    <h4>Artist: Seriki</h4>
                                </div>
                            </div>
                            <div class="social-buttons">
                                <ul>
                                    <li><div class="addthis_sharing_toolbox" data-url="THE URL" data-title="THE TITLE"></div></li>
                                    <li><a href="#"><img src="images/addtocart-btn.png" /></a></li>

                                </ul>
                            </div>

                        </li>
                        <!--toptenEND-->
                        <!--topten-tab2-->
                        <li class="toplisting">
                            <div class="toplisting-inner">
                                <img src="images/Alaga Ibile.gif" />
                                <div class="artist-detials">
                                    <h2>Alaga Ibile</h2>
                                    <h4>Artist: Reminisce</h4>
                                </div>
                            </div>
                            <div class="social-buttons">
                                <ul>
                                    <li><div class="addthis_sharing_toolbox" data-url="THE URL" data-title="THE TITLE"></div></li>
                                    <li><a href="#"><img src="images/addtocart-btn.png" /></a></li>

                                </ul>
                            </div>

                        </li>
                        <!--topten-tab2END-->
                        <!--topten-tab3-->
                        <li class="toplisting">
                            <div class="toplisting-inner">
                                <img src="images/Kele Kele Love.gif" />
                                <div class="artist-detials">
                                    <h2>Kele Kele Love</h2>
                                    <h4>Artist: Tiwa Savage</h4>
                                </div>
                            </div>
                            <div class="social-buttons">
                                <ul>
                                    <li><div class="addthis_sharing_toolbox" data-url="THE URL" data-title="THE TITLE"></div></li>
                                    <li><a href="#"><img src="images/addtocart-btn.png" /></a></li>

                                </ul>
                            </div>

                        </li>
                        <!--topten-tab3END-->
                        <!--topten-tab4-->
                        <li class="toplisting">
                            <div class="toplisting-inner">
                                <img src="images/Pakurumo.gif" />
                                <div class="artist-detials">
                                    <h2>Pakurumo</h2>
                                    <h4>Artist: Wizkid</h4>
                                </div>
                            </div>
                            <div class="social-buttons">
                                <ul>
                                    <li><div class="addthis_sharing_toolbox" data-url="THE URL" data-title="THE TITLE"></div></li>
                                    <li><a href="#"><img src="images/addtocart-btn.png" /></a></li>

                                </ul>
                            </div>

                        </li>
                        <li class="toplisting">
                            <div class="toplisting-inner">
                                <img src="images/dairy.gif" />
                                <div class="artist-detials">
                                    <h2>Diary</h2>
                                    <h4>Artist: Seriki</h4>
                                </div>
                            </div>
                            <div class="social-buttons">
                                <ul>
                                    <li><div class="addthis_sharing_toolbox" data-url="THE URL" data-title="THE TITLE"></div></li>
                                    <li><a href="#"><img src="images/addtocart-btn.png" /></a></li>

                                </ul>
                            </div>

                        </li>
                        <!--toptenEND-->
                        <!--topten-tab2-->
                        <li class="toplisting">
                            <div class="toplisting-inner">
                                <img src="images/Alaga Ibile.gif" />
                                <div class="artist-detials">
                                    <h2>Alaga Ibile</h2>
                                    <h4>Artist: Reminisce</h4>
                                </div>
                            </div>
                            <div class="social-buttons">
                                <ul>
                                    <li><div class="addthis_sharing_toolbox" data-url="THE URL" data-title="THE TITLE"></div></li>
                                    <li><a href="#"><img src="images/addtocart-btn.png" /></a></li>

                                </ul>
                            </div>

                        </li>
                        <!--topten-tab2END-->
                        <!--topten-tab3-->
                        <li class="toplisting">
                            <div class="toplisting-inner">
                                <img src="images/Kele Kele Love.gif" />
                                <div class="artist-detials">
                                    <h2>Kele Kele Love</h2>
                                    <h4>Artist: Tiwa Savage</h4>
                                </div>
                            </div>
                            <div class="social-buttons">
                                <ul>
                                    <li><div class="addthis_sharing_toolbox" data-url="THE URL" data-title="THE TITLE"></div></li>
                                    <li><a href="#"><img src="images/addtocart-btn.png" /></a></li>

                                </ul>
                            </div>

                        </li>
                        <!--topten-tab3END-->
                        <!--topten-tab4-->
                        <li class="toplisting">
                            <div class="toplisting-inner">
                                <img src="images/Pakurumo.gif" />
                                <div class="artist-detials">
                                    <h2>Pakurumo</h2>
                                    <h4>Artist: Wizkid</h4>
                                </div>
                            </div>
                            <div class="social-buttons">
                                <ul>
                                    <li><div class="addthis_sharing_toolbox" data-url="THE URL" data-title="THE TITLE"></div></li>
                                    <li><a href="#"><img src="images/addtocart-btn.png" /></a></li>

                                </ul>
                            </div>

                        </li>

                    </ul>
                    <!--topten-tab4END-->


                </div>
                <!--listing-wrappEND-->

                <section class="add2"><img src="images/add2.png" /> width="795px;"></section>

            </section>
            <!--containerEND-->
            <!--rightsidebar-->
            <aside>

                <!--ariyatv-->
                <section id="ariyatv">
                    <img src="images/video-block.gif" />
                    <div class="ariya-btn">
                        <img src="images/tv-icon.png" class="ariya-imgages" />
                        <h2>ariya TV</h2>
                        <img src="images/sound-icon.png" class="ariya-imgages2" />
                    </div>
                </section>
                <!--ariyatvEND-->
                <div class="clr"></div>

                <!--news-->
                <section id="news">
                    <h1>NEWS</h1>
                    <div class="news-content">
                        <ul class="sidebar-slider">
                            <li>
                                <ul>
                                    <li><a href="#">Niyola Confirms Relationship With Banky W</a></li>
                                    <br />
                                    <li><a href="#">2Face, Madinga To Host All Africa Music Award</a></li>
                                    <br />
                                    <li><a href="#">When A Female Fan Grabbed My Trouser Inside A Restroom - Solid Star</a></li>
                                    <br />
                                    <li><a href="#">I Discovered Life Is Beautiful After Divorce - Ini Edo</a></li>
                                    <br />
                                    <li><a href="#">9ice and Toni Payne’s Marriage Crisis Taught Me A Big Lesson- Rugged Man</a></li>
                                </ul>
                            </li>
                            <li>
                                <ul>
                                    <li><a href="#">Niyola Confirms Relationship With Banky W</a></li>
                                    <br />
                                    <li><a href="#">2Face, Madinga To Host All Africa Music Award</a></li>
                                    <br />
                                    <li><a href="#">When A Female Fan Grabbed My Trouser Inside A Restroom - Solid Star</a></li>
                                    <br />
                                    <li><a href="#">I Discovered Life Is Beautiful After Divorce - Ini Edo</a></li>
                                    <br />
                                    <li><a href="#">9ice and Toni Payne’s Marriage Crisis Taught Me A Big Lesson- Rugged Man</a></li>
                                </ul>
                            </li>
                            <li>
                                <ul>
                                    <li><a href="#">Niyola Confirms Relationship With Banky W</a></li>
                                    <br />
                                    <li><a href="#">2Face, Madinga To Host All Africa Music Award</a></li>
                                    <br />
                                    <li><a href="#">When A Female Fan Grabbed My Trouser Inside A Restroom - Solid Star</a></li>
                                    <br />
                                    <li><a href="#">I Discovered Life Is Beautiful After Divorce - Ini Edo</a></li>
                                    <br />
                                    <li><a href="#">9ice and Toni Payne’s Marriage Crisis Taught Me A Big Lesson- Rugged Man</a></li>
                                </ul>
                            </li>
                            <li>
                                <ul>
                                    <li><a href="#">Niyola Confirms Relationship With Banky W</a></li>
                                    <br />
                                    <li><a href="#">2Face, Madinga To Host All Africa Music Award</a></li>
                                    <br />
                                    <li><a href="#">When A Female Fan Grabbed My Trouser Inside A Restroom - Solid Star</a></li>
                                    <br />
                                    <li><a href="#">I Discovered Life Is Beautiful After Divorce - Ini Edo</a></li>
                                    <br />
                                    <li><a href="#">9ice and Toni Payne’s Marriage Crisis Taught Me A Big Lesson- Rugged Man</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                </section>
                <!--newsEND-->
                <!--event-->
                <section id="news">
                    <h1>EVENT</h1>
                    <div class="news-content">
                        <ul class="sidebar-slider">
                            <li>
                                <div class="event-tab">
                                    <div class="calander">
                                        <h2>Jan.</h2>
                                        <h5>31</h5>
                                    </div>
                                    <div class="event-text">
                                        PSquare Live Venue: Muson Centre, Lagos Time:    20.00 GMT Price:    $ 10.00
                                    </div>
                                    <div class="ticket-info-btn">
                                        <ul>
                                            <li><a href="#">Ticket</a></li>
                                            <li><a href="#" class="active">Info</a></li>
                                        </ul>
                                    </div>
                                </div>

                                <!--eventEND-->
                                <div class="event-tab">
                                    <div class="calander">
                                        <h2>Fab.</h2>
                                        <h5>04</h5>
                                    </div>
                                    <div class="event-text">
                                        PSquare Live Venue: Muson Centre, Lagos Time:    20.00 GMT Price:    $ 10.00
                                    </div>
                                    <div class="ticket-info-btn">
                                        <ul>
                                            <li><a href="#">Ticket</a></li>
                                            <li><a href="#" class="active">Info</a></li>
                                        </ul>
                                    </div>
                                </div>

                                <!--eventEND-->

                                <div class="event-tab">
                                    <div class="calander">
                                        <h2>Mar.</h2>
                                        <h5>15</h5>
                                    </div>
                                    <div class="event-text">
                                        PSquare Live Venue: Muson Centre, Lagos Time:    20.00 GMT Price:    $ 10.00
                                    </div>
                                    <div class="ticket-info-btn">
                                        <ul>
                                            <li><a href="#">Ticket</a></li>
                                            <li><a href="#" class="active">Info</a></li>
                                        </ul>
                                    </div>
                                </div>

                                <!--eventEND-->

                                <div class="event-tab">
                                    <div class="calander">
                                        <h2>Apr.</h2>
                                        <h5>18</h5>
                                    </div>
                                    <div class="event-text">
                                        PSquare Live Venue: Muson Centre, Lagos Time:    20.00 GMT Price:    $ 10.00
                                    </div>
                                    <div class="ticket-info-btn">
                                        <ul>
                                            <li><a href="#">Ticket</a></li>
                                            <li><a href="#" class="active">Info</a></li>
                                        </ul>
                                    </div>
                                </div>

                                <!--eventEND-->


                            </li>
                            <li>
                                <div class="event-tab">
                                    <div class="calander">
                                        <h2>Jan.</h2>
                                        <h5>31</h5>
                                    </div>
                                    <div class="event-text">
                                        PSquare Live Venue: Muson Centre, Lagos Time:    20.00 GMT Price:    $ 10.00
                                    </div>
                                    <div class="ticket-info-btn">
                                        <ul>
                                            <li><a href="#">Ticket</a></li>
                                            <li><a href="#" class="active">Info</a></li>
                                        </ul>
                                    </div>
                                </div>

                                <!--eventEND-->
                                <div class="event-tab">
                                    <div class="calander">
                                        <h2>Fab.</h2>
                                        <h5>04</h5>
                                    </div>
                                    <div class="event-text">
                                        PSquare Live Venue: Muson Centre, Lagos Time:    20.00 GMT Price:    $ 10.00
                                    </div>
                                    <div class="ticket-info-btn">
                                        <ul>
                                            <li><a href="#">Ticket</a></li>
                                            <li><a href="#" class="active">Info</a></li>
                                        </ul>
                                    </div>
                                </div>

                                <!--eventEND-->

                                <div class="event-tab">
                                    <div class="calander">
                                        <h2>Mar.</h2>
                                        <h5>15</h5>
                                    </div>
                                    <div class="event-text">
                                        PSquare Live Venue: Muson Centre, Lagos Time:    20.00 GMT Price:    $ 10.00
                                    </div>
                                    <div class="ticket-info-btn">
                                        <ul>
                                            <li><a href="#">Ticket</a></li>
                                            <li><a href="#" class="active">Info</a></li>
                                        </ul>
                                    </div>
                                </div>

                                <!--eventEND-->

                                <div class="event-tab">
                                    <div class="calander">
                                        <h2>Apr.</h2>
                                        <h5>18</h5>
                                    </div>
                                    <div class="event-text">
                                        PSquare Live Venue: Muson Centre, Lagos Time:    20.00 GMT Price:    $ 10.00
                                    </div>
                                    <div class="ticket-info-btn">
                                        <ul>
                                            <li><a href="#">Ticket</a></li>
                                            <li><a href="#" class="active">Info</a></li>
                                        </ul>
                                    </div>
                                </div>

                                <!--eventEND-->


                            </li>
                            <li>
                                <div class="event-tab">
                                    <div class="calander">
                                        <h2>Jan.</h2>
                                        <h5>31</h5>
                                    </div>
                                    <div class="event-text">
                                        PSquare Live Venue: Muson Centre, Lagos Time:    20.00 GMT Price:    $ 10.00
                                    </div>
                                    <div class="ticket-info-btn">
                                        <ul>
                                            <li><a href="#">Ticket</a></li>
                                            <li><a href="#" class="active">Info</a></li>
                                        </ul>
                                    </div>
                                </div>

                                <!--eventEND-->
                                <div class="event-tab">
                                    <div class="calander">
                                        <h2>Fab.</h2>
                                        <h5>04</h5>
                                    </div>
                                    <div class="event-text">
                                        PSquare Live Venue: Muson Centre, Lagos Time:    20.00 GMT Price:    $ 10.00
                                    </div>
                                    <div class="ticket-info-btn">
                                        <ul>
                                            <li><a href="#">Ticket</a></li>
                                            <li><a href="#" class="active">Info</a></li>
                                        </ul>
                                    </div>
                                </div>

                                <!--eventEND-->

                                <div class="event-tab">
                                    <div class="calander">
                                        <h2>Mar.</h2>
                                        <h5>15</h5>
                                    </div>
                                    <div class="event-text">
                                        PSquare Live Venue: Muson Centre, Lagos Time:    20.00 GMT Price:    $ 10.00
                                    </div>
                                    <div class="ticket-info-btn">
                                        <ul>
                                            <li><a href="#">Ticket</a></li>
                                            <li><a href="#" class="active">Info</a></li>
                                        </ul>
                                    </div>
                                </div>

                                <!--eventEND-->

                                <div class="event-tab">
                                    <div class="calander">
                                        <h2>Apr.</h2>
                                        <h5>18</h5>
                                    </div>
                                    <div class="event-text">
                                        PSquare Live Venue: Muson Centre, Lagos Time:    20.00 GMT Price:    $ 10.00
                                    </div>
                                    <div class="ticket-info-btn">
                                        <ul>
                                            <li><a href="#">Ticket</a></li>
                                            <li><a href="#" class="active">Info</a></li>
                                        </ul>
                                    </div>
                                </div>

                                <!--eventEND-->


                            </li>
                            <li>
                                <div class="event-tab">
                                    <div class="calander">
                                        <h2>Jan.</h2>
                                        <h5>31</h5>
                                    </div>
                                    <div class="event-text">
                                        PSquare Live Venue: Muson Centre, Lagos Time:    20.00 GMT Price:    $ 10.00
                                    </div>
                                    <div class="ticket-info-btn">
                                        <ul>
                                            <li><a href="#">Ticket</a></li>
                                            <li><a href="#" class="active">Info</a></li>
                                        </ul>
                                    </div>
                                </div>

                                <!--eventEND-->
                                <div class="event-tab">
                                    <div class="calander">
                                        <h2>Fab.</h2>
                                        <h5>04</h5>
                                    </div>
                                    <div class="event-text">
                                        PSquare Live Venue: Muson Centre, Lagos Time:    20.00 GMT Price:    $ 10.00
                                    </div>
                                    <div class="ticket-info-btn">
                                        <ul>
                                            <li><a href="#">Ticket</a></li>
                                            <li><a href="#" class="active">Info</a></li>
                                        </ul>
                                    </div>
                                </div>

                                <!--eventEND-->

                                <div class="event-tab">
                                    <div class="calander">
                                        <h2>Mar.</h2>
                                        <h5>15</h5>
                                    </div>
                                    <div class="event-text">
                                        PSquare Live Venue: Muson Centre, Lagos Time:    20.00 GMT Price:    $ 10.00
                                    </div>
                                    <div class="ticket-info-btn">
                                        <ul>
                                            <li><a href="#">Ticket</a></li>
                                            <li><a href="#" class="active">Info</a></li>
                                        </ul>
                                    </div>
                                </div>

                                <!--eventEND-->

                                <div class="event-tab">
                                    <div class="calander">
                                        <h2>Apr.</h2>
                                        <h5>18</h5>
                                    </div>
                                    <div class="event-text">
                                        PSquare Live Venue: Muson Centre, Lagos Time:    20.00 GMT Price:    $ 10.00
                                    </div>
                                    <div class="ticket-info-btn">
                                        <ul>
                                            <li><a href="#">Ticket</a></li>
                                            <li><a href="#" class="active">Info</a></li>
                                        </ul>
                                    </div>
                                </div>

                                <!--eventEND-->


                            </li>


                        </ul>

                        <!--eventEND-->
                    </div>

                </section>
                <!--eventEND-->
                <!--lounge-->
                <section id="news">
                    <h1>THE LOUNGE</h1>
                    <div class="news-content">
                        <ul class="sidebar-slider">
                            <li>
                                <ul>
                                    <li><a href="#">Press Release: Globacom telecoms to announce $1b parnership with Nollywood</a></li>
                                    <br />
                                    <li><a href="#">Nigerian movie producer, Kule Afolayan set to release new movie ‘African Pride’ on January 31st</a></li>
                                    <br />
                                    <li><a href="#">Chinua Achebe and friends celebrate 55 years of ‘Things fall apart’ book publication</a></li>
                                    <br />
                                    <li><a href="#">The Samaritans: Kenya’s first mockumen-tary takes on the NGO world</a></li>
                                    <br />
                                </ul>
                            </li>
                            <li>
                                <ul>
                                    <li><a href="#">Press Release: Globacom telecoms to announce $1b parnership with Nollywood</a></li>
                                    <br />
                                    <li><a href="#">Nigerian movie producer, Kule Afolayan set to release new movie ‘African Pride’ on January 31st</a></li>
                                    <br />
                                    <li><a href="#">Chinua Achebe and friends celebrate 55 years of ‘Things fall apart’ book publication</a></li>
                                    <br />
                                    <li><a href="#">The Samaritans: Kenya’s first mockumen-tary takes on the NGO world</a></li>
                                    <br />
                                </ul>
                            </li>
                            <li>
                                <ul>
                                    <li><a href="#">Press Release: Globacom telecoms to announce $1b parnership with Nollywood</a></li>
                                    <br />
                                    <li><a href="#">Nigerian movie producer, Kule Afolayan set to release new movie ‘African Pride’ on January 31st</a></li>
                                    <br />
                                    <li><a href="#">Chinua Achebe and friends celebrate 55 years of ‘Things fall apart’ book publication</a></li>
                                    <br />
                                    <li><a href="#">The Samaritans: Kenya’s first mockumen-tary takes on the NGO world</a></li>
                                    <br />
                                </ul>
                            </li>
                            <li>
                                <ul>
                                    <li><a href="#">Press Release: Globacom telecoms to announce $1b parnership with Nollywood</a></li>
                                    <br />
                                    <li><a href="#">Nigerian movie producer, Kule Afolayan set to release new movie ‘African Pride’ on January 31st</a></li>
                                    <br />
                                    <li><a href="#">Chinua Achebe and friends celebrate 55 years of ‘Things fall apart’ book publication</a></li>
                                    <br />
                                    <li><a href="#">The Samaritans: Kenya’s first mockumen-tary takes on the NGO world</a></li>
                                    <br />
                                </ul>
                            </li>
                        </ul>
                    </div>

                </section>
                <!--loungeEND-->


            </aside>
            <!--rightsidebarEND-->
        </div>
        <!--content-innerEND-->

    </section>
    <!--contentEND-->
    <div class="clr"></div>
    
